Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

gui - find games from gamepass
  __init__.py
  __version__.py
  gui/app_utils.py
  gui/widgets/ovldata.py
  pyproject.toml
Due: none

edit versioning requirements
  __init__.py
  __version__.py
  constants/__init__.py
  pyproject.toml
Due: none

discover games from game pass
  __init__.py
  __version__.py
  gui/app_utils.py
  pyproject.toml
Due: none

plugin - use relative imports for init
  __init__.py
  __version__.py
  plugin/utils/properties.py
Due: none

update scaleformlanguagedata.xml
  __init__.py
  __version__.py
  generated/formats/scaleformlanguagedata/imports.py
  generated/formats/scaleformlanguagedata/structs/GfxReference.py
  generated/formats/scaleformlanguagedata/structs/GfxReference.pyi
  generated/formats/scaleformlanguagedata/structs/ScaleformlanguagedataRoot.py
  generated/formats/scaleformlanguagedata/structs/ScaleformlanguagedataRoot.pyi
  pyproject.toml
  source/formats/scaleformlanguagedata/scaleformlanguagedata.xml
Due: codegen

ovl - warnings for colliding hashes
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

plugin - add merge_vertices option
  __version__.py
  plugin/import_ms2.py
  plugin/modules_import/operators.py
Due: none

plugin - add load_libraries option
  __version__.py
  plugin/modules_import/material.py
  plugin/modules_import/operators.py
Due: none

plugin - add load_libraries option 2
  __init__.py
  __version__.py
  plugin/import_ms2.py
  pyproject.toml
Due: none

plugin - don't append from currently open blend file
  __version__.py
  plugin/modules_import/material.py
Due: none

fix: use configuration within pack tool
  __version__.py
  ovl_tool_cmd.py
Due: none

gui - add tooltips to ovl tool file menu
  __version__.py
  gui/widgets/window.py
  ovl_tool_gui.py
Due: check-imports

split and refactor conversion utils
  __init__.py
  __version__.py
  bnk_gui.py
  experimentals/prep_textures_dict.py
  modules/formats/DDS.py
  modules/formats/LUA.py
  modules/formats/utils/__init__.py
  modules/formats/utils/dds_conversion.py
  modules/formats/utils/lua_conversion.py
  modules/formats/utils/png_splitting.py
  modules/formats/utils/wem_conversion.py
  pyproject.toml
Due: check-imports

lua - refactor
  __init__.py
  __version__.py
  modules/formats/LUA.py
  modules/formats/utils/__init__.py
  modules/formats/utils/lua_conversion.py
  pyproject.toml
Due: none

plugin - move tristrip utils
  __version__.py
  generated/formats/ms2/structs/MeshData.py
  generated/formats/ms2/structs/ZtMeshData.py
  plugin/utils/tristrip/__init__.py
  plugin/utils/tristrip/trianglemesh.py
  plugin/utils/tristrip/trianglestripifier.py
  source/formats/ms2/structs/MeshData.py
  source/formats/ms2/structs/ZtMeshData.py
Due: codegen

update numpy version
  __version__.py
  pyproject.toml
Due: none

add check for external programs
  __version__.py
  utils/auto_updater.py
Due: none

gui - turn off debug prints in DelayedMimeData
  __version__.py
  gui/app_utils.py
Due: none

ovl - use splitext_safe to handle creating file such as /ncp60agfgwnrfwa/.texel from texel="ncp60agfgwnrfwa/"
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

ovl - fix uses of splitext_safe
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

tex - don't show splitting warning
  __version__.py
  modules/formats/utils/png_splitting.py
Due: none

gui - threading for drag n drop extract
  __version__.py
  gui/app_utils.py
  ovl_tool_gui.py
Due: check-imports

manis - fix versioning for pc2 and jwe3
  __version__.py
  generated/formats/manis/structs/ManisRoot.py
  generated/formats/manis/structs/ManisRoot.pyi
  source/formats/manis/manis.xml
Due: codegen

dds - add todo for proposed change of dds/png behavior
  __version__.py
  modules/formats/DDS.py
Due: none

dds - fix streams for DLA
  __version__.py
  generated/formats/tex/structs/TexHeader.py
  generated/formats/tex/structs/TexHeader.pyi
  modules/formats/DDS.py
  source/formats/tex/tex.xml
Due: codegen

gui - disable threaded drag again due to race condition
  __version__.py
  ovl_tool_gui.py
Due: check-imports

docs - plugin compatibility
  docs/Guides/Plugin/index.md
Due: none

gui - change import check for manis tool
  __init__.py
  __version__.py
  manis_tool_gui.py
  pyproject.toml
Due: check-imports

dds - remove unused code
  __init__.py
  __version__.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

dds - remove unused code
  __version__.py
  modules/formats/DDS.py
Due: none

gui - improve pack tool
  __version__.py
  gui/widgets/file_input.py
  gui/widgets/window.py
  pack_tool_gui.py
  utils/config.py
Due: check-imports

remove various formats spamming the info log on extraction
  __version__.py
  modules/formats/BANI.py
  modules/formats/DDS.py
  modules/formats/GFX.py
  modules/formats/MANI.py
  modules/formats/MS2.py
Due: none

gui - force updater for pack tool
  __version__.py
  pack_tool_gui.py
Due: check-imports

gui - remove unfinished mod_tool_gui.py as pack tool code has been updated
  __version__.py
  mod_tool_gui.py
Due: check-imports

gui - improve pack tool
  __version__.py
  pack_tool_cmd.py
  pack_tool_gui.py
Due: check-imports

gui - cleanup pack tool
  __version__.py
  pack_tool_gui.py
Due: check-imports

turn off print for specdef
  __version__.py
  modules/formats/SPECDEF.py
Due: none

pull out get_relative_extract_folder
  __version__.py
  generated/formats/ovl/__init__.py
  ovl_tool_gui.py
  pack_tool_gui.py
  source/formats/ovl/__init__.py
Due: codegen, check-imports

pack_tool - improve watcher
  __version__.py
  pack_tool_gui.py
Due: check-imports

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
