Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

Fix creating texel
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/DDS.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

Improve tex weaving parameters for PC2
  __init__.py
  __version__.py
  generated/formats/tex/compounds/Pc2TexBuffer.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  pyproject.toml
  source/formats/tex/tex.xml
Due: codegen

Improve tex flag for PC2
  __version__.py
  modules/formats/DDS.py
Due: none

resize manis - refactor
  __version__.py
  generated/formats/manis/__init__.py
  resize_manis_cmd.py
  source/formats/manis/__init__.py
Due: codegen

fix mip count guessing for PC2
  __version__.py
  modules/formats/DDS.py
Due: none

cleanup tex
  __version__.py
  modules/formats/DDS.py
Due: none

ms2 - fix writing of PC2 tri chunks
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/ms2.xml
  modules/formats/MS2.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
Due: codegen

plugin - improve tex mapping for PC2
  __init__.py
  __version__.py
  constants/Planet Coaster 2/texchannels.py
  plugin/modules_import/material.py
  plugin/utils/properties.py
  pyproject.toml
Due: none

ms2 - fix chunk bounds for PC2
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/TriChunk.py
  generated/formats/ms2/ms2.xml
  plugin/import_ms2.py
  plugin/modules_import/collision.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
Due: codegen

improve texchannels for PC2
  __version__.py
  constants/Planet Coaster 2/texchannels.py
Due: none

ovl - clean up walker code
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/shared.py
  modules/walker.py
  source/formats/ovl/__init__.py
Due: codegen

ovl - clean up walker code
  __init__.py
  __version__.py
  gui/widgets.py
  modules/walker.py
  pyproject.toml
Due: check-imports

plugin - implement material_effects flag for PC2
  __version__.py
  generated/formats/ms2/bitfields/WeightsFlagPC2.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/ms2.xml
  plugin/import_ms2.py
  plugin/modules_export/geometry.py
  plugin/modules_import/geometry.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
Due: codegen

experimental new mesh import - automatically removes doubles - preserves shading - marks edges sharp
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/MeshData.py
  generated/formats/ms2/compounds/NewMeshData.py
  generated/formats/ms2/compounds/PcMeshData.py
  generated/formats/ms2/compounds/ZtMeshData.py
  plugin/import_ms2.py
  plugin/modules_import/armature.py
  plugin/modules_import/geometry.py
  plugin/modules_import/operators.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/MeshData.py
  source/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/compounds/PcMeshData.py
  source/formats/ms2/compounds/ZtMeshData.py
Due: codegen

enable postprocessing
  __version__.py
  plugin/import_ms2.py
Due: none

sort verts
  __version__.py
  plugin/import_ms2.py
Due: none

plugin - fix hair indices
  __version__.py
  plugin/import_ms2.py
  plugin/modules_import/geometry.py
Due: none

plugin - add is_fin_mat check
  __init__.py
  __version__.py
  plugin/import_ms2.py
  pyproject.toml
Due: none

plugin - clean hair
  __version__.py
  plugin/utils/hair.py
Due: none

fixes for ZT meshes
  __version__.py
  generated/formats/ms2/compounds/ZtMeshData.py
  plugin/modules_import/geometry.py
  source/formats/ms2/compounds/ZtMeshData.py
Due: codegen

cleanup for dla
  __version__.py
  generated/formats/ovl/__init__.py
  generated/formats/ovl/compounds/MemPool.py
  generated/formats/ovl/compounds/SetHeader.py
  generated/formats/ovl/ovl.xml
  gui/widgets.py
  modules/formats/BaseFormat.py
  ovl_tool_gui.py
  source/formats/ovl/__init__.py
  source/formats/ovl/ovl.xml
Due: codegen, check-imports

DLA - fix names padding
  __version__.py
  generated/formats/ovl/compounds/Header.py
  generated/formats/ovl/ovl.xml
  source/formats/ovl/ovl.xml
Due: codegen

cleanup
  __init__.py
  __version__.py
  plugin/import_ms2.py
  plugin/modules_import/geometry.py
  plugin/utils/blender_util.py
  pyproject.toml
Due: none

cleanup
  __version__.py
  plugin/modules_import/geometry.py
Due: none

Add versioning to ms2 material_effects - closes #413
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/ChunkedMesh.py
Due: codegen

Cleanup ChunkedMesh.py
  __init__.py
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  pyproject.toml
  source/formats/ms2/compounds/ChunkedMesh.py
Due: codegen

fix tris_convert_to_quads
  __version__.py
  plugin/modules_import/geometry.py
Due: none

Fix bone parent index for PC2
  __init__.py
  __version__.py
  generated/formats/ms2/compounds/Bone.py
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  pyproject.toml
  source/formats/ms2/compounds/Bone.py
Due: codegen

Run ms2 walker for PC2, update collider enums
  __init__.py
  __version__.py
  plugin/utils/properties.py
  pyproject.toml
Due: none

Fix steam widget
  gui/widgets.py
Due: check-imports

Cleanup walker
  modules/formats/shared.py
  modules/walker.py
Due: none

Discard degenerate tris for custom normals
  plugin/import_ms2.py
Due: none

Fix reading JWE1 mesh collision
  generated/formats/ms2/compounds/MeshCollisionData.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/ms2.xml
Due: codegen

Improve supportset for PC2
  generated/formats/path/compounds/Connector.py
  generated/formats/path/compounds/ConnectorMultiJoint.py
  generated/formats/path/compounds/Pillar.py
  generated/formats/path/compounds/SupportSetData.py
  generated/formats/path/path.xml
  modules/formats/PATH.py
  source/formats/path/path.xml
Due: codegen

Improve trackelement for PC2
  __init__.py
  __version__.py
  generated/formats/trackelement/compounds/TrackElementData.py
  generated/formats/trackelement/trackelement.xml
  pyproject.toml
  source/formats/trackelement/trackelement.xml
Due: codegen

Fix ms2 editor for PC2
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  ms2_tool_gui.py
  source/formats/ms2/compounds/ChunkedMesh.py
Due: codegen, check-imports

PC2 improve trackedridecar.xml
  __init__.py
  __version__.py
  generated/formats/trackedridecar/compounds/TrackedRideCarRoot.py
  generated/formats/trackedridecar/trackedridecar.xml
  modules/formats/TRACKEDRIDECAR.py
  pyproject.toml
  source/formats/trackedridecar/trackedridecar.xml
Due: codegen

PC2 improve sorting in names buffer
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

Improve trackedridecar.xml
  __version__.py
  generated/formats/trackedridecar/compounds/TrackedRideCarRoot.py
  generated/formats/trackedridecar/trackedridecar.xml
  modules/formats/TRACKEDRIDECAR.py
  source/formats/trackedridecar/trackedridecar.xml
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
