Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

BNK - get audio strings from cinematic, improve spec
  __init__.py
  __version__.py
  bnk_gui.py
  constants/Jurassic World Evolution 2/audio.py
  generated/formats/bnk/bitfields/UBitsPositioning.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AkPathListItemOffset.py
  generated/formats/bnk/compounds/AkPathVertex.py
  generated/formats/bnk/compounds/PositioningData.py
  generated/formats/bnk/compounds/PositioningParams.py
  generated/formats/bnk/compounds/Vec.py
  generated/formats/bnk/imports.py
  generated/formats/cinematic/cinematic.xml
  generated/formats/cinematic/compounds/EventsList.py
  modules/formats/CINEMATIC.py
  modules/walker.py
  pyproject.toml
  source/formats/bnk/bnk.xml
  source/formats/cinematic/cinematic.xml
Due: codegen, check-imports

BNK - get audio strings from cinematic for PZ
  __version__.py
  constants/Planet Zoo/audio.py
Due: none

BNK - add replace with option
  __version__.py
  bnk_gui.py
Due: check-imports

BNK - improve injecting
  __init__.py
  __version__.py
  bnk_gui.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  pyproject.toml
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen, check-imports

BNK - improve injecting
  __version__.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen

BNK - fix injecting
  __version__.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen

BNK - fix injecting
  __init__.py
  __version__.py
  bnk_gui.py
  pyproject.toml
Due: check-imports

BNK - deactivate recursion filter
  __version__.py
  bnk_gui.py
Due: check-imports

BNK - improve commands
  __version__.py
  bnk_gui.py
Due: check-imports

codegen - Initial Refactor
  __version__.py
  bin/run_codegen.py
  codegen/BaseClass.py
  codegen/Basics.py
  codegen/Bitfield.py
  codegen/Compound.py
  codegen/Enum.py
  codegen/Imports.py
  codegen/Union.py
  codegen/Versions.py
  codegen/XmlParser.py
  codegen/__init__.py
  codegen/__main__.py
  codegen/codegen_worker.py
  codegen/expression.py
  codegen/naming_conventions.py
  codegen/path_utils.py
  pyproject.toml
  source/array.pyi
  source/schema/XInclude.xsd
  source/schema/base_types.xsd
  source/schema/codegen_schema_10.xsd
  source/schema/codegen_schema_11.xsd
  tests/test_codegen/__init__.py
  tests/test_codegen/conftest.py
  tests/test_codegen/test_compound_union.py
  tests/test_codegen/test_enum_bitfield.py
  tests/test_codegen/test_run_codegen.py
  tests/test_codegen/test_verexpr.py
  tests/test_codegen/test_versions.py
  tests/test_codegen/test_xml_parser.py
  tests/test_codegen/xml1/source/formats/base/base.xml
  tests/test_codegen/xml1/source/formats/base/compounds/FixedString.py
  tests/test_codegen/xml1/source/formats/base/compounds/Vector3.py
  tests/test_codegen/xml1/source/formats/base/compounds/Vector4.py
  tests/test_codegen/xml1/source/formats/base/compounds/ZStringBuffer.py
  tests/test_codegen/xml1/source/formats/base/compounds/__init__.py
  tests/test_codegen/xml1/source/formats/ovl_base/ovl_base.xml
  tests/test_codegen/xml1/source/formats/test1/test1.xml
Due: codegen

codegen - Fix error propagation during discovery
  __version__.py
  codegen/__main__.py
Due: none

codegen - Additional comment guards with lxml
  __version__.py
  codegen/XmlParser.py
  codegen/__main__.py
Due: none

codegen - Update test for 9df8342e
  tests/test_codegen/test_xml_parser.py
Due: none

codegen - Clean up XML text 2
  __version__.py
  generated/formats/renderfeaturecollection/structs/RenderFeatureItem.py
  source/formats/animalresearch/animalresearch.xml
  source/formats/datastreams/datastreams.xml
  source/formats/frendercontextset/frendercontextset.xml
  source/formats/logicalcontrols/logicalcontrols.xml
  source/formats/missiondata/missiondata.xml
  source/formats/renderfeaturecollection/renderfeaturecollection.xml
  source/schema/codegen_schema_10.xsd
  source/schema/codegen_schema_11.xsd
Due: codegen

codegen - Schema cleanup
  __version__.py
  source/schema/codegen_schema_10.xsd
  source/schema/codegen_schema_11.xsd
Due: codegen

codegen - Improve XSD annotation and logging
  __version__.py
  codegen/__init__.py
  codegen/__main__.py
Due: none

codegen - Fix bad use of relpath/cwd
  __version__.py
  codegen/path_utils.py
Due: none

BNK - fix header alignment
  __version__.py
  generated/formats/bnk/structs/AuxFileContainer.py
  generated/formats/bnk/structs/BKHDSection.py
  generated/formats/bnk/structs/BKHDSection.pyi
  source/formats/bnk/bnk.xml
  source/formats/bnk/structs/AuxFileContainer.py
Due: codegen

BNK - add JWE2 event name dump
  __version__.py
  constants/Jurassic World Evolution 2/audio.py
  dumps/fnv1_32_dump_JWE2.txt
  experimentals/audio_from_dump.py
Due: none

BNK - add expand and collapse buttons
  __version__.py
  bnk_gui.py
Due: check-imports

JWE3 - add texture + shader dicts
  __version__.py
  constants/Jurassic World Evolution 3/shaders.py
  constants/Jurassic World Evolution 3/texchannels.py
  constants/Jurassic World Evolution 3/textures.py
  experimentals/prep_textures_dict.py
Due: none

JWE3 - initial ms2 work
  __init__.py
  __version__.py
  generated/formats/ms2/structs/BoneInfo.py
  generated/formats/ms2/structs/BoneInfo.pyi
  generated/formats/ms2/structs/BufferInfo.py
  generated/formats/ms2/structs/ModelInfo.py
  generated/formats/ms2/structs/ModelReader.py
  generated/formats/ms2/versions.py
  modules/formats/MS2.py
  pyproject.toml
  source/formats/ms2/ms2.xml
  source/formats/ms2/structs/ModelReader.py
Due: codegen

JWE3 - improve ms2
  __version__.py
  generated/formats/ms2/structs/IKEntry.py
  generated/formats/ms2/structs/IKInfo.py
  generated/formats/ms2/structs/IKInfo.pyi
  source/formats/ms2/ms2.xml
  source/formats/ms2/structs/IKInfo.py
Due: codegen

JWE3 - improve ms2
  __version__.py
  generated/formats/ms2/structs/IKInfo.py
  generated/formats/ms2/structs/IKInfo.pyi
  source/formats/ms2/ms2.xml
Due: codegen

JWE3 - improve ms2
  __version__.py
  generated/base_struct.py
  generated/formats/ms2/structs/BoneInfo.py
  generated/formats/ms2/structs/BoneInfo.pyi
  source/base_struct.py
  source/formats/ms2/ms2.xml
Due: codegen

JWE3 - improve ms2
  __version__.py
  generated/formats/ms2/structs/BoneInfo.py
  generated/formats/ms2/structs/BoneInfo.pyi
  generated/formats/ms2/structs/IKInfo.py
  source/formats/ms2/ms2.xml
Due: codegen

JWE3 - add shader selection
  __version__.py
  plugin/utils/properties.py
Due: none

JWE3 - fix walker
  __version__.py
  generated/formats/ms2/structs/ModelReader.py
  modules/walker.py
  source/formats/ms2/structs/ModelReader.py
Due: codegen

ovl - inspect archive_names
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

ovl - adjust versioning for increment_buffers
  __version__.py
  modules/formats/BaseFormat.py
Due: none

ovl - adjust game versioning for reading, esp. in compare ovls
  __version__.py
  generated/formats/ovl/__init__.py
  ovl_tool_gui.py
  source/formats/ovl/__init__.py
Due: codegen, check-imports

manis - isolate golomb rice code
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - cleanup golomb rice code
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  pyproject.toml
  source/formats/manis/__init__.py
Due: codegen

manis - rename make_signed
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
