Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

Imports - Move shared
  __version__.py
  modules/formats/BaseFormat.py
  modules/formats/shared.py
  modules/walker.py
  ovl_util/imarray.py
  ovl_util/shared.py
  ovl_util/texconv.py
  plugin/modules_import/material.py
  plugin/utils/panels.py
  utils/shared.py
Due: none

Imports - Move format utils
  __version__.py
  bnk_gui.py
  generated/formats/ms2/structs/MeshData.py
  generated/formats/ms2/structs/ZtMeshData.py
  generated/formats/ovl/__init__.py
  modules/formats/DDS.py
  modules/formats/LUA.py
  modules/formats/utils/__init__.py
  modules/formats/utils/imarray.py
  modules/formats/utils/luacheck/luacheck.exe
  modules/formats/utils/luadec/liblua53.lib
  modules/formats/utils/luadec/lua.exe
  modules/formats/utils/luadec/lua.pdb
  modules/formats/utils/luadec/lua53.dll
  modules/formats/utils/luadec/lua53.exp
  modules/formats/utils/luadec/lua53.lib
  modules/formats/utils/luadec/lua53.pdb
  modules/formats/utils/luadec/luac.exe
  modules/formats/utils/luadec/luac.pdb
  modules/formats/utils/luadec/luadec.exe
  modules/formats/utils/luadec/luadec.pdb
  modules/formats/utils/luadec/luaopswap.exe
  modules/formats/utils/luadec/luaopswap.pdb
  modules/formats/utils/luadec/luareplace.exe
  modules/formats/utils/luadec/luareplace.pdb
  modules/formats/utils/oodle/oo2core_8_win64.dll
  modules/formats/utils/oodle/oodle.py
  modules/formats/utils/revorb/revorb.exe
  modules/formats/utils/texconv.py
  modules/formats/utils/texconv/LICENSE
  modules/formats/utils/texconv/texconv.exe
  modules/formats/utils/tristrip/__init__.py
  modules/formats/utils/tristrip/trianglemesh.py
  modules/formats/utils/tristrip/trianglestripifier.py
  modules/formats/utils/ww2ogg/packed_codebooks_aoTuV_603.bin
  modules/formats/utils/ww2ogg/ww2ogg.exe
  source/formats/ms2/structs/MeshData.py
  source/formats/ms2/structs/ZtMeshData.py
  source/formats/ovl/__init__.py
Due: codegen, check-imports

Migrator - Static helper methods
  utils/migrator.py
Due: none

Imports - Move utils
  .gitignore
  __init__.py
  __version__.py
  bin/increment_version.py
  fgm_editor_gui.py
  generated/formats/manis/__init__.py
  gui/__init__.py
  gui/app_utils.py
  gui/widgets/file_input.py
  gui/widgets/logger.py
  gui/widgets/window.py
  matcol_editor_gui.py
  mod_tool_gui.py
  modules/walker.py
  ovl_tool_gui.py
  ovl_util/__init__.py
  ovl_util/shared.py
  pack_tool_cmd.py
  pack_tool_gui.py
  resize_manis_cmd.py
  source/formats/manis/__init__.py
  tests/__init__.py
  tests/test_auto_update/test_auto_update.py
  tests/test_gui/conftest.py
  tests/test_gui/test_gui_update.py
  utils/__init__.py
  utils/auto_updater.py
  utils/config.py
  utils/logs.py
  utils/migrations.py
  utils/migrator.py
Due: codegen, check-imports

Imports - Move dev check
  __version__.py
  gui/tools/dev_tools.py
  utils/__init__.py
  utils/migrator.py
Due: none

gui - move recent files logic to cfg, generalize
  __version__.py
  gui/widgets/file_input.py
  gui/widgets/ovldata.py
  gui/widgets/window.py
  utils/config.py
Due: none

gui - init games always
  __version__.py
  utils/config.py
Due: none

manis - remove LocBound
  __version__.py
  generated/formats/manis/imports.py
  generated/formats/manis/structs/LocBound.py
  generated/formats/manis/structs/LocBound.pyi
  source/formats/manis/manis.xml
Due: codegen

manis - add compressed header for JWE3
  __init__.py
  __version__.py
  generated/formats/manis/imports.py
  generated/formats/manis/structs/CompressedHeader.py
  generated/formats/manis/structs/CompressedHeader.pyi
  generated/formats/manis/structs/CompressedHeaderReader.py
  generated/formats/manis/structs/CompressedHeaderReader.pyi
  generated/formats/manis/structs/CompressedPointer.py
  generated/formats/manis/structs/CompressedPointer.pyi
  generated/formats/manis/structs/InfoHeader.py
  generated/formats/manis/structs/InfoHeader.pyi
  generated/formats/manis/structs/ManiInfo.py
  pyproject.toml
  source/formats/manis/manis.xml
  source/formats/manis/structs/CompressedHeaderReader.py
Due: codegen

cleanup oodle
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/utils/oodle/oodle.py
  source/formats/ovl/__init__.py
Due: codegen

cleanup ms2 debug
  __init__.py
  __version__.py
  generated/formats/ms2/__init__.py
  modules/formats/BaseFormat.py
  pyproject.toml
  source/formats/ms2/__init__.py
Due: codegen

motiongraph - prevent create
  __version__.py
  modules/formats/MOTIONGRAPH.py
Due: none

tex - improve error handling and logging
  __version__.py
  constants/Jurassic World Evolution 2/texchannels.py
  constants/Jurassic World Evolution 3/texchannels.py
  constants/Jurassic World Evolution/texchannels.py
  generated/formats/dds/__init__.py
  modules/formats/DDS.py
  modules/formats/utils/imarray.py
  source/formats/dds/__init__.py
Due: codegen

GUI - Test for #428
  __version__.py
  gui/__init__.py
  gui/widgets/logger.py
Due: none

adding ovl_tool_cmd.py for building scripts and automation
  ovl_tool_cmd.py
Due: none

cosmetic clean up
  ovl_tool_cmd.py
Due: none

ms2 - change padding for JWE3
  __init__.py
  __version__.py
  generated/formats/ms2/structs/BoneInfo.py
  generated/formats/ms2/structs/BoneInfo.pyi
  generated/formats/ms2/structs/ZerosPadding.py
  generated/formats/ms2/structs/ZerosPadding.pyi
  pyproject.toml
  source/formats/ms2/ms2.xml
Due: codegen

fix walker cfg and walk_root
  __init__.py
  __version__.py
  gui/widgets/file_input.py
  gui/widgets/ovldata.py
  gui/widgets/window.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

plugin - add JWE3 physics enums
  __init__.py
  __version__.py
  plugin/utils/properties.py
  pyproject.toml
Due: none

plugin - fix jwe3 rig export
  __version__.py
  plugin/modules_export/armature.py
  source/formats/ms2/ms2.xml
Due: codegen

improve tex channels
  __version__.py
  constants/Jurassic World Evolution 2/texchannels.py
  constants/Jurassic World Evolution 3/texchannels.py
  constants/Jurassic World Evolution/texchannels.py
  constants/Planet Coaster 2/texchannels.py
  constants/Warhammer Age of Sigmar - Realms of Ruin/texchannels.py
Due: none

prevent tex injection when rewrite aux is off
  __version__.py
  modules/formats/DDS.py
Due: none

tex - improve logic for jwe3 arrays
  __version__.py
  modules/formats/DDS.py
  modules/formats/utils/imarray.py
Due: none

tex - fix logic for jwe3 arrays
  __version__.py
  modules/formats/DDS.py
Due: none

improve wording of auto updater
  __version__.py
  utils/auto_updater.py
Due: none

gui - add crypt icon
  icons/crypt.svg
Due: none

plugin - clean up imports
  __init__.py
  __version__.py
  plugin/utils/operators.py
  plugin/utils/properties.py
  pyproject.toml
Due: none

gui - keep tmp folder during session
  __version__.py
  ovl_tool_gui.py
Due: check-imports

gui - change steam for linux
  __version__.py
  gui/app_utils.py
Due: none

gui - fix unwanted import
  __version__.py
  gui/app_utils.py
Due: none

gui - fix tests
  __version__.py
  ovl_tool_gui.py
Due: check-imports

gui - changes for wine
  __version__.py
  gui/app_utils.py
Due: none

gui - add mouse dependency for linux
  __version__.py
  gui/app_utils.py
  pyproject.toml
Due: none

gui - cleanup dragging
  __version__.py
  experimentals/delayed_drag.py
  gui/app_utils.py
  ovl_tool_gui.py
Due: check-imports

gui - add extract selected to context menu
  __version__.py
  ovl_tool_gui.py
Due: check-imports

ovl - clean up get_extract_paths
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/shared.py
  source/formats/ovl/__init__.py
Due: codegen

gui - call commands through wine if needed
  __version__.py
  modules/formats/utils/texconv.py
Due: none

gui - guard against opening ovl from search while one is still loading
  __version__.py
  ovl_tool_gui.py
Due: check-imports

gui - fix walker_tex
  __init__.py
  __version__.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

walker - expand get_tex_values
  __init__.py
  __version__.py
  modules/walker.py
  pyproject.toml
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
