Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

Comment out Planet Coaster 2 specific note
  source/formats/trackelement/trackelement.xml
Due: codegen

World file updates, targetting PC2
  generated/formats/world/structs/WorldArtSettingsHeader.py
  generated/formats/world/structs/WorldArtSettingsHeader.pyi
  source/formats/world/world.xml
Due: codegen

codegen on Kermink's changes for .trackelement
  generated/formats/trackelement/bitfields/TracktypeBitfield.py
  generated/formats/trackelement/bitfields/TracktypeBitfield.pyi
  generated/formats/trackelement/bitfields/__init__.py
  generated/formats/trackelement/imports.py
  generated/formats/trackelement/structs/TrackElementData.py
  generated/formats/trackelement/structs/TrackElementData.pyi
Due: none

Update biome mimes for PC2
  generated/formats/biome/structs/BiomeArtIcon.py
  generated/formats/biome/structs/BiomeArtIcon.pyi
  generated/formats/biome/structs/BiomeArtSettingsRoot.py
  generated/formats/biome/structs/BiomeArtSettingsRoot.pyi
  generated/formats/biome/structs/BiomeDesignSettingsRoot.py
  generated/formats/biome/structs/BiomeDesignSettingsRoot.pyi
  generated/formats/biome/structs/BiomeRoot.py
  generated/formats/biome/structs/BiomeRoot.pyi
  source/formats/biome/biome.xml
Due: codegen

Fix for frenderlodspec to support vercond
  generated/formats/frenderlodspec/structs/FRenderLodSpecRoot.py
  generated/formats/frenderlodspec/structs/LODGroup.py
  generated/formats/frenderlodspec/structs/LODPoints.py
  source/formats/frenderlodspec/frenderlodspec.xml
Due: codegen

add audio playback to bnk editor
  __init__.py
  __version__.py
  bnk_gui.py
  docs/Download.md
  gui/widgets/sound.py
  icons/pause.svg
  icons/play.svg
  icons/stop.svg
  icons/volume.svg
  pyproject.toml
Due: check-imports

update bnk editor
  __init__.py
  __version__.py
  bnk_gui.py
  pyproject.toml
Due: check-imports

update bnk editor
  __init__.py
  __version__.py
  bnk_gui.py
  generated/formats/bnk/imports.py
  generated/formats/bnk/structs/AuxFileContainer.py
  generated/formats/bnk/structs/STIDRef.py
  generated/formats/bnk/structs/STIDRef.pyi
  generated/formats/bnk/structs/STIDSection.py
  generated/formats/bnk/structs/STIDSection.pyi
  gui/widgets/sound.py
  icons/Chinese(ZH).svg
  icons/English(GB).svg
  icons/English(US).svg
  icons/French(FR).svg
  icons/German(DE).svg
  icons/Italian(IT).svg
  icons/Japanese(JP).svg
  icons/Korean(KO).svg
  icons/Portuguese(BR).svg
  icons/Russian(RU).svg
  icons/Spanish(ES).svg
  icons/Spanish(MX).svg
  pyproject.toml
  source/formats/bnk/bnk.xml
  source/formats/bnk/structs/AuxFileContainer.py
Due: codegen, check-imports

improve bnk spec
  __init__.py
  __version__.py
  bnk_gui.py
  generated/formats/bnk/bitfields/UBitsPositioning122.py
  generated/formats/bnk/bitfields/UBitsPositioning122.pyi
  generated/formats/bnk/imports.py
  generated/formats/bnk/structs/AkMusicMarkerWwise.py
  generated/formats/bnk/structs/AkMusicMarkerWwise.pyi
  generated/formats/bnk/structs/AkMusicTransDstRule.py
  generated/formats/bnk/structs/AkTrackSrcInfo.py
  generated/formats/bnk/structs/AuxFileContainer.py
  generated/formats/bnk/structs/AuxParams.py
  generated/formats/bnk/structs/Event.py
  generated/formats/bnk/structs/HircPointer.py
  generated/formats/bnk/structs/MusicTrack.py
  generated/formats/bnk/structs/MusicTrack.pyi
  generated/formats/bnk/structs/PositioningParams.py
  generated/formats/bnk/structs/PositioningParams.pyi
  generated/formats/bnk/structs/StateChunk.py
  generated/formats/bnk/structs/SwitchParams.py
  generated/formats/bnk/structs/SwitchParams.pyi
  generated/formats/bnk/structs/TransParams.py
  generated/formats/bnk/structs/TransParams.pyi
  pyproject.toml
  source/formats/bnk/bnk.xml
  source/formats/bnk/structs/AuxFileContainer.py
  source/formats/bnk/structs/HircPointer.py
Due: codegen, check-imports

improve bnk spec
  __version__.py
  generated/formats/bnk/structs/AdvSettingsParams.py
  generated/formats/bnk/structs/AdvSettingsParams.pyi
  generated/formats/bnk/structs/AuxFileContainer.py
  generated/formats/bnk/structs/AuxParams.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/structs/AuxFileContainer.py
Due: codegen

improve bnk editor
  __init__.py
  __version__.py
  bnk_gui.py
  pyproject.toml
Due: check-imports

demote logging for cancelled worker
  __init__.py
  __version__.py
  gui/tasks.py
  pyproject.toml
Due: none

improve manis spec for pc2
  __init__.py
  __version__.py
  generated/formats/manis/structs/CompressedHeader.py
  generated/formats/manis/structs/CompressedHeaderReader.py
  generated/formats/manis/structs/CompressedManiDataPC2.py
  generated/formats/manis/structs/CompressedManiDataPC2.pyi
  generated/formats/manis/structs/KeysReader.py
  generated/formats/manis/structs/SmallChunk.py
  generated/formats/manis/structs/SmallChunk.pyi
  manis_tool.py
  pyproject.toml
  source/formats/manis/manis.xml
  source/formats/manis/structs/CompressedHeaderReader.py
  source/formats/manis/structs/KeysReader.py
Due: codegen

improve array printing
  __init__.py
  __version__.py
  generated/array.py
  pyproject.toml
  source/array.py
Due: codegen

make bnk resilient to missing game entry
  __init__.py
  __version__.py
  bnk_gui.py
  pyproject.toml
Due: check-imports

improve manis specs for pc2
  __version__.py
  generated/formats/manis/structs/CompressedManiDataPC2.py
  generated/formats/manis/structs/CompressedManiDataPC2.pyi
  source/formats/manis/manis.xml
Due: codegen

ms2 format 3 research for pc2
  __version__.py
  generated/formats/manis/structs/CompressedManiDataPC2.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/enums/MeshFormat.py
  generated/formats/ms2/enums/MeshFormat.pyi
  generated/formats/ms2/structs/ChunkedMesh.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  source/formats/ms2/structs/ChunkedMesh.py
Due: codegen

ms2 format 3 research for pc2
  __version__.py
  generated/formats/ms2/structs/ChunkedMesh.py
  generated/formats/ms2/structs/MeshData.py
  plugin/modules_import/geometry.py
  source/formats/ms2/structs/ChunkedMesh.py
  source/formats/ms2/structs/MeshData.py
Due: codegen

ms2 format 3 research for pc2
  __version__.py
  generated/formats/ms2/structs/ChunkedMesh.py
  source/formats/ms2/structs/ChunkedMesh.py
Due: codegen

fix for fgm editor
  __version__.py
  fgm_editor_gui.py
Due: check-imports

plugin - clamp lod preview to available lods
  __version__.py
  plugin/utils/properties.py
Due: none

ms2 research for pc2
  __version__.py
  generated/formats/ms2/bitfields/WeightsFlagPC2.py
  generated/formats/ms2/enums/MeshFormat.py
  generated/formats/ms2/enums/MeshFormat.pyi
  generated/formats/ms2/structs/ChunkedMesh.py
  plugin/modules_import/geometry.py
  source/formats/ms2/ms2.xml
  source/formats/ms2/structs/ChunkedMesh.py
Due: codegen

ms2 research for pc2
  __version__.py
  generated/formats/ms2/enums/MeshFormat.py
  generated/formats/ms2/enums/MeshFormat.pyi
  generated/formats/ms2/structs/ChunkedMesh.py
  plugin/modules_import/geometry.py
  source/formats/ms2/ms2.xml
  source/formats/ms2/structs/ChunkedMesh.py
Due: codegen

more audio names for pc2
  __init__.py
  __version__.py
  constants/Planet Coaster 2/audio.py
  dumps/fnv1_32_dump_PC2.txt
  experimentals/audio_from_dump.py
  pyproject.toml
Due: none

add autoplay mode for bnk editor
  __init__.py
  __version__.py
  gui/widgets/sound.py
  icons/autoplay.svg
  pyproject.toml
Due: none

more audio hashes for pc2
  __version__.py
  bnk_gui.py
  constants/Planet Coaster 2/audio.py
  generated/formats/bnk/structs/AuxFileContainer.py
  generated/formats/ovl/__init__.py
  generated/formats/wmeta/structs/BnkMeta.py
  generated/formats/wmeta/structs/BnkMeta.pyi
  generated/formats/wmeta/structs/BnkMetaNew.py
  generated/formats/wmeta/structs/BnkMetaNew.pyi
  generated/formats/wmeta/structs/EventEntry.py
  generated/formats/wmeta/structs/EventEntry.pyi
  modules/formats/BaseFormat.py
  modules/formats/CINEMATIC.py
  modules/formats/FDB.py
  modules/formats/WMETA.py
  modules/walker.py
  source/formats/bnk/structs/AuxFileContainer.py
  source/formats/ovl/__init__.py
  source/formats/wmeta/wmeta.xml
Due: codegen, check-imports

[MS2] PC2 Research
  generated/formats/ms2/structs/ChunkedMesh.py
  generated/formats/ms2/structs/TriChunk.py
  generated/formats/ms2/structs/TriChunk.pyi
  generated/formats/ms2/structs/packing_utils.py
  plugin/import_ms2.py
  plugin/modules_import/geometry.py
  source/formats/ms2/ms2.xml
  source/formats/ms2/structs/ChunkedMesh.py
  source/formats/ms2/structs/packing_utils.py
Due: codegen

Update .gitattributes
  .gitattributes
Due: none

gui - fix unpack behavior in file right-click menu
  gui/widgets/ovldata.py
  ovl_tool_gui.py
Due: check-imports

fix unpack behavior in file right-click menu - closes #441
  __init__.py
  __version__.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

#382 - add reload button
  __init__.py
  __version__.py
  gui/widgets/file_input.py
  icons/reload.svg
  pyproject.toml
Due: none

nicer formatting for rename tuples
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

cleanup get_replace_strings
  __version__.py
  ovl_tool_gui.py
Due: check-imports

clean up walker gui
  __version__.py
  ovl_tool_gui.py
Due: check-imports

[Codegen] pyi templating
  codegen/BaseClass.py
  codegen/Compound.py
  codegen/Enum.py
  generated/formats/base/structs/FixedString.py
  generated/formats/bnk/structs/HircPointer.py
  generated/formats/ms2/structs/ChunkedMesh.pyi
  generated/formats/ms2/structs/MeshData.pyi
  generated/formats/ms2/structs/ModelInfo.pyi
  source/formats/ms2/structs/ChunkedMesh.pyi
  source/formats/ms2/structs/MeshData.pyi
  source/formats/ms2/structs/ModelInfo.pyi
Due: codegen

[MS2] Add meshoptimizer and bindings
  __init__.py
  __version__.py
  pyproject.toml
  tests/test_meshoptimizer/__init__.py
  tests/test_meshoptimizer/test_encoding.py
  tests/test_meshoptimizer/test_limits.py
  tests/test_meshoptimizer/test_meshlets.py
  tests/test_meshoptimizer/test_optimization.py
  tests/test_meshoptimizer/test_simplification.py
  utils/meshoptimizer/LICENSE.txt
  utils/meshoptimizer/__init__.py
  utils/meshoptimizer/_loader.py
  utils/meshoptimizer/decoder.py
  utils/meshoptimizer/encoder.py
  utils/meshoptimizer/limits.py
  utils/meshoptimizer/meshlets.py
  utils/meshoptimizer/meshoptimizer.dll
  utils/meshoptimizer/optimizer.py
  utils/meshoptimizer/simplifier.py
  utils/meshoptimizer/utils.py
Due: none

pc2 - fix for ms2 export
  __version__.py
  generated/formats/ms2/structs/TriChunk.py
  source/formats/ms2/ms2.xml
Due: codegen

Fix .gitattributes
  .gitattributes
Due: none
