Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

Adds in customizable color changing of the theme
  gui/qt_theme.py
  ovl_tool_gui.py
Due: check-imports

Fix flume station info, and simplified .trackstation in general
  generated/formats/trackstation/compounds/CommonChunk.py
  generated/formats/trackstation/compounds/ControlBoxInfo.py
  generated/formats/trackstation/compounds/CornerEdgeTrack.py
  generated/formats/trackstation/compounds/End.py
  generated/formats/trackstation/compounds/FlumeInfo.py
  generated/formats/trackstation/compounds/FrontMidBack.py
  generated/formats/trackstation/compounds/GateInfo.py
  generated/formats/trackstation/compounds/Start.py
  generated/formats/trackstation/compounds/TrackStationRoot.py
  generated/formats/trackstation/imports.py
  generated/formats/trackstation/trackstation.xml
  source/formats/trackstation/trackstation.xml
Due: codegen

Remove unused zero value in .trackstation
  generated/formats/trackstation/compounds/TrackOnly.py
  generated/formats/trackstation/compounds/TrackStationRoot.py
  generated/formats/trackstation/trackstation.xml
  source/formats/trackstation/trackstation.xml
Due: codegen

Fix MainWindow could not find attribute apply_palette issue.
  ovl_tool_gui.py
Due: check-imports

Should save/update config.json instead now
  gui/qt_theme.py
Due: none

escape | char for filepaths
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  generated/formats/trackstation/compounds/TrackOnly.py
  generated/formats/trackstation/trackstation.xml
  modules/formats/BaseFormat.py
  modules/formats/shared.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

fix manis export jwe1
  __init__.py
  __version__.py
  generated/formats/manis/basic.py
  pyproject.toml
  source/formats/manis/basic.py
Due: codegen

plugin - readable error for outdated blender
  __init__.py
  __version__.py
  pyproject.toml
Due: none

plugin - fix test
  __init__.py
  __version__.py
  pyproject.toml
Due: none

plugin - bump minimal blender version
  README.md
  __init__.py
  __version__.py
Due: none

fix RENDERPARAMETERCURVES from_xml
  __init__.py
  __version__.py
  generated/array.py
  generated/formats/ovl_base/compounds/MemStruct.py
  generated/formats/ovl_base/compounds/Pointer.py
  modules/formats/RENDERPARAMETERCURVES.py
  pyproject.toml
  source/array.py
  source/formats/ovl_base/compounds/MemStruct.py
  source/formats/ovl_base/compounds/Pointer.py
Due: codegen

fix num_ovs_types for external data streams
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/BaseFormat.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

add FastMesh by REDxEYE
  README.md
  __version__.py
  docs/Credits.md
  plugin/import_ms2.py
  plugin/utils/fast_mesh.py
Due: none

speed up vertex groups import slightly
  __version__.py
  plugin/modules_import/armature.py
Due: none

fix automatic module update
  __init__.py
  __version__.py
  gui/__init__.py
  ovl_util/auto_updater.py
  pyproject.toml
Due: none

update to actions/upload-artifact@v4
  .github/workflows/pytest.yaml
Due: none

cleanup order of mime names in zstringbuffer
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

turn off dds debug, fix sorting of deps
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/DDS.py
  ovl_tool_gui.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen, check-imports

fix sorting of fragments
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

slim fragments code
  __version__.py
  generated/formats/ovl/__init__.py
  generated/formats/ovl/compounds/Fragment.py
  generated/formats/ovl/ovl.xml
  source/formats/ovl/__init__.py
  source/formats/ovl/compounds/Fragment.py
  source/formats/ovl/ovl.xml
Due: codegen

clear pc2 dds data size
  __version__.py
  modules/formats/DDS.py
Due: none

clear pool ext hash if needed
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

update mimes for pc2
  __version__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/BanisRoot.py
  generated/formats/cinematic/cinematic.xml
  generated/formats/cinematic/compounds/CinematicRoot.py
  source/formats/bani/bani.xml
  source/formats/cinematic/cinematic.xml
Due: codegen

gui - show progress in taskbar
  __version__.py
  gui/widgets.py
Due: check-imports

gui - fix debug ovl print
  __version__.py
  ovl_tool_gui.py
Due: check-imports

plugin - keep non-1.0 scl keys
  __version__.py
  plugin/export_manis.py
Due: none

plugin - keep keys that stray from blender defaults
  __init__.py
  __version__.py
  plugin/export_manis.py
  pyproject.toml
Due: none

fgm - change version to accomodate pc2 - pz split
  __init__.py
  __version__.py
  fgm_editor_gui.py
  generated/formats/ovl/__init__.py
  generated/formats/ovl_base/__init__.py
  pyproject.toml
  source/formats/ovl/__init__.py
  source/formats/ovl_base/__init__.py
Due: codegen, check-imports

gui - do not auto-rename controlled loaders
  __init__.py
  __version__.py
  modules/formats/BaseFormat.py
  pyproject.toml
Due: none

Anim import for blender 4.4
  plugin/modules_import/anim.py
Due: none

Improve comparison for aux
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
Due: none

Fix PC2 saving of ovl with tex
  generated/formats/dds/__init__.py
  generated/formats/manis/logs/__init__.py
  generated/formats/ovl/__init__.py
  generated/formats/tex/compounds/Pc2TexBuffer.py
  generated/formats/tex/imports.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  source/formats/dds/__init__.py
  source/formats/ovl/__init__.py
  source/formats/tex/tex.xml
Due: codegen

Improve PC2 tex logic
  generated/formats/ovl/__init__.py
  generated/formats/tex/tex.xml
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  source/formats/ovl/__init__.py
Due: codegen
