Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

manis - pull keys_flag into read_vec3
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - add debugging for edge cases
  __version__.py
  generated/formats/manis/__init__.py
  manis_tool_gui.py
  source/formats/manis/__init__.py
Due: codegen, check-imports

manis - pull out quat_multiply and axis_angle_to_quaternion
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - add loc debug example
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - pull out decode_adaptive_golomb, cleanup read_golomb_rice_data
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - add comment
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - cleanup decode_adaptive_golomb
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  pyproject.toml
  source/formats/manis/__init__.py
Due: codegen

manis - rename golomb_rice_offset
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

ms2 - fix reading rabbit_.ms2
  __version__.py
  generated/formats/ms2/__init__.py
  source/formats/ms2/__init__.py
Due: codegen

GUI - Fix imports for new structure re: updater
  __version__.py
  bnk_gui.py
  fgm_editor_gui.py
  gui/widgets/__init__.py
  gui/widgets/window.py
  loc_tool_gui.py
  manis_tool_gui.py
  matcol_editor_gui.py
  mod_tool_gui.py
  ms2_tool_gui.py
  ovl_tool_gui.py
  pack_tool_gui.py
Due: check-imports

update docs and readme
  README.md
  docs/Credits.md
  docs/Guides/Audio/index.md
Due: none

ignore encoding errors in luacheck output - closes #427
  __init__.py
  __version__.py
  ovl_util/texconv.py
  pyproject.toml
Due: none

change get_exe_from_ovldata debug msg
  __init__.py
  __version__.py
  gui/app_utils.py
  pyproject.toml
Due: none

codegen - stop reading a struct after field errors
  __version__.py
  generated/base_struct.py
  source/base_struct.py
Due: codegen

bnk - improve spec
  __init__.py
  __version__.py
  generated/formats/bnk/imports.py
  generated/formats/bnk/structs/AkGameSync.py
  generated/formats/bnk/structs/AkGameSync.pyi
  generated/formats/bnk/structs/AkMusicTransDstRule.py
  generated/formats/bnk/structs/AkMusicTransSrcRule.py
  generated/formats/bnk/structs/AkMusicTransitionObject.py
  generated/formats/bnk/structs/AkMusicTransitionObject.pyi
  generated/formats/bnk/structs/AkMusicTransitionRule.py
  generated/formats/bnk/structs/AkMusicTransitionRule.pyi
  generated/formats/bnk/structs/AuxFileContainer.py
  generated/formats/bnk/structs/CAkStinger.py
  generated/formats/bnk/structs/CAkStinger.pyi
  generated/formats/bnk/structs/FadeParams.py
  generated/formats/bnk/structs/FadeParams.pyi
  generated/formats/bnk/structs/MusicNodeParams.py
  generated/formats/bnk/structs/MusicNodeParams.pyi
  generated/formats/bnk/structs/MusicSwitch.py
  generated/formats/bnk/structs/MusicSwitch.pyi
  generated/formats/bnk/structs/NodeInitialParams.py
  generated/formats/bnk/structs/NodeInitialParams.pyi
  generated/formats/bnk/structs/PositioningAutomation.py
  generated/formats/bnk/structs/PositioningAutomation.pyi
  generated/formats/bnk/structs/PositioningParams.py
  generated/formats/bnk/structs/PositioningParams.pyi
  pyproject.toml
  source/formats/bnk/bnk.xml
  source/formats/bnk/structs/AuxFileContainer.py
Due: codegen

safe splitting of file names that may contain / - closes #426
  __version__.py
  modules/formats/BaseFormat.py
  source/formats/ovl/__init__.py
Due: codegen

BNK - initial audio events for JWE3
  __version__.py
  constants/Jurassic World Evolution 3/audio.py
Due: none

BNK - use PC2 dir structure for JWE3
  __version__.py
  bnk_gui.py
Due: check-imports

BNK - add common prefixes during audio event walker
  __version__.py
  constants/Jurassic World Evolution 2/audio.py
  constants/Jurassic World Evolution 3/audio.py
  constants/Planet Zoo/audio.py
  modules/walker.py
Due: none

BNK - add audio names for PC2
  __version__.py
  constants/Planet Coaster 2/audio.py
Due: none

BNK - update spec for JWE3
  __version__.py
  generated/formats/bnk/structs/EventAction.py
  generated/formats/bnk/structs/EventAction.pyi
  generated/formats/bnk/structs/FXChunk.py
  generated/formats/bnk/structs/FXChunk.pyi
  generated/formats/bnk/structs/NodeBaseParams.py
  generated/formats/ovl/__init__.py
  source/formats/bnk/bnk.xml
Due: codegen

BNK - update spec for JWE3
  __version__.py
  generated/formats/bnk/imports.py
  generated/formats/bnk/structs/AkPropBundleUshortFloat.py
  generated/formats/bnk/structs/AkPropBundleUshortFloat.pyi
  generated/formats/bnk/structs/AkState.py
  generated/formats/bnk/structs/AkState.pyi
  source/formats/bnk/bnk.xml
Due: codegen

OVL - speedup for saving many oodle chunks by Hex
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

OVL - speedup for saving many oodle chunks without threading #2
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

matcol - add todo
  __version__.py
  plugin/import_matcol.py
Due: none

tex - add pHeightTexture to texchannels
  __init__.py
  __version__.py
  constants/Jurassic World Evolution 2/texchannels.py
  constants/Jurassic World Evolution 3/texchannels.py
  constants/Jurassic World Evolution/texchannels.py
  constants/Warhammer Age of Sigmar - Realms of Ruin/texchannels.py
  pyproject.toml
Due: none

tex - improve splitting logic
  __version__.py
  ovl_util/imarray.py
Due: none

tex - refactor mip unpacking
  __version__.py
  generated/formats/dds/__init__.py
  modules/formats/DDS.py
  source/formats/dds/__init__.py
Due: codegen

tex - refactor mip unpacking
  __version__.py
  modules/formats/DDS.py
  source/formats/dds/__init__.py
Due: codegen

tex - add debugging for mip unpacking
  __version__.py
  generated/formats/dds/__init__.py
  source/formats/dds/__init__.py
Due: codegen

tex - add todo for JWE3 swatches
  __version__.py
  generated/formats/dds/__init__.py
  source/formats/dds/__init__.py
Due: codegen

tex - add hack for reading some JWE3 swatches
  __version__.py
  generated/formats/dds/__init__.py
  source/formats/dds/__init__.py
Due: codegen

tex - fix reading PC2 and JWE3 array textures
  __version__.py
  generated/formats/dds/__init__.py
  modules/formats/DDS.py
  source/formats/dds/__init__.py
Due: codegen

tex - fix reading PC2 and JWE3 textures
  __init__.py
  __version__.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

tex - take out array_i from shuffle_mip_offsets
  __version__.py
  modules/formats/DDS.py
Due: none

#382 - delay drag operation
  __version__.py
  generated/formats/ovl/__init__.py
  gui/app_utils.py
  modules/formats/BNK.py
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  modules/formats/LUA.py
  modules/formats/LUT.py
  modules/formats/VOXELSKIRT.py
  ovl_tool_gui.py
  ovl_util/imarray.py
  source/formats/ovl/__init__.py
Due: codegen, check-imports

#382 - show search results as they are found
  __version__.py
  gui/widgets/table.py
  modules/walker.py
  ovl_tool_gui.py
Due: check-imports

tex - rewrite for PC2 and JWE3 to handle weaving more cleanly and only edit weave modified buffers
  __version__.py
  generated/formats/tex/structs/Pc2TexMip.py
  modules/formats/DDS.py
  source/formats/tex/tex.xml
Due: codegen

tex - update docstr
  __init__.py
  __version__.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

add steam id for JWE3
  __version__.py
  gui/app_utils.py
Due: none
