Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

manis - clear lut on loading
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - show floats sorted for easier comparison
  __version__.py
  generated/formats/manis/__init__.py
  plugin/export_manis.py
  source/formats/manis/__init__.py
Due: codegen

manis - move stream entry out from table
  __version__.py
  manis_tool_gui.py
Due: check-imports

config - add defaults from setting managers to dict + json
  __version__.py
  ovl_util/config.py
Due: none

gui - radio behavior for show modded / official buttons
  __version__.py
  gui/widgets.py
Due: check-imports

docs - improve anim export
  docs/Guides/Plugin/Animations.md
Due: none

docs - add tip for blender 4.2 shader compilation setting
  docs/Guides/Plugin/index.md
Due: none

gui - proper search for ovl files
  __version__.py
  gui/widgets.py
Due: check-imports

gui - demote config changes to debug
  __version__.py
  ovl_util/config.py
Due: none

gui - clear regexp for empty search string
  __version__.py
  gui/widgets.py
Due: check-imports

gui - add typing timer for IconEdit
  __version__.py
  gui/widgets.py
Due: check-imports

manis - clean up anim sys
  __version__.py
  plugin/modules_import/anim.py
Due: none

manis - better error reporting
  __version__.py
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
Due: codegen

gui - cleanup blank space
  __version__.py
  gui/widgets.py
Due: check-imports

gui - natural sort dir view
  __version__.py
  gui/widgets.py
Due: check-imports

change version string to date format
  __init__.py
  __version__.py
  bin/increment_version.py
  ovl_util/logs.py
  pyproject.toml
Due: none

change version string in gui to match date version in blender, remove dev flag, move commands to dev menu
  __init__.py
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

fix should_increment
  bin/increment_version.py
Due: none

add open commit button
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
Due: check-imports

add open commit button
  icons/github.svg
Due: none

refactor menu generation
  __version__.py
  bnk_gui.py
  fgm_editor_gui.py
  gui/widgets.py
  loc_tool_gui.py
  manis_tool_gui.py
  matcol_editor_gui.py
  mod_tool_gui.py
  ms2_tool_gui.py
  ovl_tool_gui.py
  pack_tool_gui.py
Due: check-imports

gui - fix config editing, user prompt for settings that need a restart
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
  ovl_util/config.py
Due: check-imports

docs - improve manis
  docs/Guides/Plugin/Animations.md
  docs/Guides/Plugin/images/manis_editor.png
Due: none

gui - #392 shortcut to run game
  __version__.py
  gui/widgets.py
Due: check-imports

gui - #392 config option to run game on saving ovl
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
  ovl_util/config.py
Due: check-imports

gui - #392 preferably use steam api call to launch game + flexible args
  __version__.py
  gui/widgets.py
Due: check-imports

fgm versioning
  __version__.py
  generated/formats/fgm/compounds/TextureInfo.py
  generated/formats/fgm/fgm.xml
  modules/formats/BaseFormat.py
  source/formats/fgm/fgm.xml
Due: codegen

fix MimeVersionedLoader init
  __version__.py
  modules/formats/BaseFormat.py
Due: none

improve tex spec
  __version__.py
  generated/formats/tex/compounds/TexHeader.py
  generated/formats/tex/tex.xml
  source/formats/tex/tex.xml
Due: codegen

improve tex spec 2
  __version__.py
  generated/formats/tex/compounds/Pc2TexBuffer.py
  generated/formats/tex/compounds/Pc2TexMip.py
  generated/formats/tex/compounds/TexHeader.py
  generated/formats/tex/imports.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  source/formats/tex/tex.xml
Due: codegen

fix version for blender to be valid int
  __init__.py
  __version__.py
  bin/increment_version.py
  pyproject.toml
Due: none

improve ms2 versioning
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/TriChunk.py
  generated/formats/ms2/ms2.xml
  generated/formats/ms2/versions.py
  ms2_tool_gui.py
  plugin/modules_import/material.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
Due: codegen, check-imports

ms2 - make rename contents case sensitive, improve tooltip
  __version__.py
  generated/formats/ms2/__init__.py
  ovl_tool_gui.py
  source/formats/ms2/__init__.py
Due: codegen, check-imports

manis - move bone min - max to save
  __init__.py
  __version__.py
  generated/base_struct.py
  generated/formats/manis/__init__.py
  plugin/export_manis.py
  pyproject.toml
  source/base_struct.py
  source/formats/manis/__init__.py
Due: codegen

ms2 - fix pack base for resize tool
  __version__.py
  generated/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/compounds/NewMeshData.py
Due: codegen

fix tests for PC2 versioning
  tests/test_ovl/test_ovl_includes.py
  tests/test_ovl/test_ovl_save_create.py
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
