Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

gui - fix walker root dir todo
  __version__.py
  ovl_tool_gui.py
Due: check-imports

gui - refactor open / save for batch
  __version__.py
  experimentals/threading_experiment.py
  ovl_tool_gui.py
Due: check-imports

gui - walk_root is not empty
  __version__.py
  ovl_tool_gui.py
Due: check-imports

gui - cleanup
  __version__.py
  ovl_tool_gui.py
Due: check-imports

ms2 - remove todo
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/ChunkedMesh.py
Due: codegen

manis - improve comments
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

manis - remove legacy keys_iter checks, cleanup calls
  __version__.py
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
Due: codegen

manis - cleanup calls
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

config - make sure config filepath is parameterized and not tied to root path
  fgm_editor_gui.py
  gui/__init__.py
  gui/widgets.py
  matcol_editor_gui.py
  ovl_util/config.py
  ovl_util/logs.py
Due: check-imports

plugin - append_shader read .blend files using relative path
  plugin/modules_import/material.py
Due: none

constants - use relative path to access game folders
  constants/__init__.py
  modules/walker.py
Due: none

dev - core modules & source no longer use root_path
  generated/formats/manis/__init__.py
  modules/formats/FDB.py
  source/formats/manis/__init__.py
Due: codegen

dev - remove unnecessary root_path import from root scripts
  __init__.py
  ovl_tool_gui.py
Due: check-imports

util - no longer import root_path
  ovl_util/auto_updater.py
  ovl_util/logs.py
Due: none

dev - root_path is removed to discourage usage
  experimentals/convert_constants.py
  root_path.py
Due: none

dev - move arc_tool to experimentals/
  experimentals/arc_tool.py
Due: none

dev - move packages imported by modules/ out of experimentals/
  constants/converter.py
  modules/walker.py
Due: none

dev - no gui-related imports in core folders
  ovl_util/config.py
Due: none

dev - move tristrip util out of plugin/
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/MeshData.py
  generated/formats/ms2/compounds/ZtMeshData.py
  ovl_util/tristrip/__init__.py
  ovl_util/tristrip/trianglemesh.py
  ovl_util/tristrip/trianglestripifier.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/MeshData.py
  source/formats/ms2/compounds/ZtMeshData.py
Due: codegen

tex - fix RGBA channel order after BC5 check
  __version__.py
  generated/formats/manis/__init__.py
  ovl_util/imarray.py
  source/formats/manis/__init__.py
Due: codegen

plugin - improve ms2 export versioning + reporting
  __version__.py
  plugin/export_ms2.py
  plugin/modules_export/armature.py
Due: none

gui - fix cfg_path for saving
  __version__.py
  gui/__init__.py
  ovl_util/logs.py
Due: none

plugin - export IK constraints correctly
  __version__.py
  plugin/modules_export/armature.py
Due: none

manis - refactor saving, add gui editor
  __version__.py
  generated/formats/manis/__init__.py
  manis_tool_gui.py
  plugin/export_manis.py
  source/formats/manis/__init__.py
Due: codegen, check-imports

gui - config option to replace sounds in MOTIONGRAPH
  __version__.py
  modules/formats/LUA.py
  modules/formats/MOTIONGRAPH.py
  ovl_util/config.py
Due: none

gui - config option to replace sounds in MOTIONGRAPH, better tooltip
  __version__.py
  ovl_util/config.py
Due: none

ms2 - fix alignment issue during rename contents
  __version__.py
  generated/formats/base/compounds/ZStringBuffer.py
  generated/formats/ms2/compounds/JointData.py
  source/formats/base/compounds/ZStringBuffer.py
  source/formats/ms2/compounds/JointData.py
Due: codegen

ms2 - raise BoneInfo reading error
  __version__.py
  generated/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/compounds/ModelReader.py
Due: codegen

gui - show error popup for rename contents
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

ms2 - undo because it crashes other models 8bec8375ef467ea9204e8b213a3e9602bc7d34ac
  __version__.py
  generated/formats/base/compounds/ZStringBuffer.py
  source/formats/base/compounds/ZStringBuffer.py
Due: codegen

manis - ensure validity of guessed bone lut
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/manis/basic.py
  generated/formats/manis/compounds/Buffer1.py
  generated/formats/manis/manis.xml
  plugin/export_manis.py
  source/formats/manis/__init__.py
  source/formats/manis/basic.py
  source/formats/manis/manis.xml
Due: codegen

gui - improve dirs widget
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
Due: check-imports

gui - add icon
  icons/modded.svg
Due: none

clean up ZStringBuffer padding mess
  __version__.py
  generated/formats/base/compounds/ZStringBuffer.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ovl/compounds/Header.py
  generated/formats/ovl/ovl.xml
  source/formats/base/compounds/ZStringBuffer.py
  source/formats/ms2/compounds/JointData.py
  source/formats/ovl/ovl.xml
Due: codegen

manis - fix appending string context
  __version__.py
  generated/array.py
  generated/base_struct.py
  generated/formats/manis/__init__.py
  manis_tool_gui.py
  source/array.py
  source/base_struct.py
  source/formats/manis/__init__.py
Due: codegen, check-imports

manis - decompress from gui #399
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/manis/manis.xml
  gui/widgets.py
  manis_tool_gui.py
  source/formats/manis/__init__.py
  source/formats/manis/manis.xml
Due: codegen, check-imports

manis - change duration from gui #399
  __version__.py
  manis_tool_gui.py
Due: check-imports

manis - export S + T root motion for PZ, unfreezing locomotion
  __version__.py
  plugin/export_manis.py
Due: none

manis - use srb for root motion src, checked PZ and JWE2
  __version__.py
  generated/formats/manis/__init__.py
  manis_tool_gui.py
  plugin/export_manis.py
  source/formats/manis/__init__.py
Due: codegen, check-imports
