Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

tex - add progress to array textures
  __version__.py
  modules/formats/DDS.py
Due: none

tex - fix trying to remove missing temp files
  __version__.py
  modules/formats/BaseFormat.py
Due: none

motiongraph - improve spec
  __version__.py
  generated/formats/motiongraph/imports.py
  generated/formats/motiongraph/structs/CurveKey.py
  generated/formats/motiongraph/structs/CurveKey.pyi
  generated/formats/motiongraph/structs/FloatInputData.py
  generated/formats/motiongraph/structs/FloatInputData.pyi
  generated/formats/motiongraph/structs/MRFMember2.py
  generated/formats/motiongraph/structs/MRFMember2.pyi
  generated/formats/motiongraph/structs/OptionalVarAndCurve.py
  generated/formats/motiongraph/structs/OptionalVarAndCurve.pyi
  source/formats/motiongraph/motiongraph.xml
Due: codegen

motiongraph - versioning for PZ and JWE2 differences
  __version__.py
  generated/formats/motiongraph/imports.py
  generated/formats/motiongraph/structs/FootPlantActivityData.py
  generated/formats/motiongraph/structs/FootPlantActivityData.pyi
  generated/formats/motiongraph/structs/Locomotion2ActivityData.py
  generated/formats/motiongraph/structs/Locomotion2ActivityData.pyi
  generated/formats/motiongraph/structs/MRFMember2.py
  generated/formats/motiongraph/structs/MRFMember2.pyi
  generated/formats/motiongraph/structs/RagdollPhysicsActivityData.py
  generated/formats/motiongraph/structs/TriggeredActivityActivityData.py
  generated/formats/ovl_base/structs/ArrayPointer.py
  modules/formats/MOTIONGRAPH.py
  source/formats/motiongraph/motiongraph.xml
  source/formats/ovl_base/structs/ArrayPointer.py
Due: codegen

skip error for missing extract
  __version__.py
  modules/formats/BaseFormat.py
Due: none

GUI - Fix missing for 8c555402f
  __init__.py
  __version__.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

tex - add walker, store truncated mip counts on tex for JWE3 and PC2
  __version__.py
  modules/formats/DDS.py
  modules/walker.py
  ovl_tool_gui.py
Due: check-imports

tex - fix mips for PC2 / JWE3
  __init__.py
  __version__.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

plugin - add quadrify toggle
  __version__.py
  plugin/import_ms2.py
  plugin/modules_import/geometry.py
  plugin/modules_import/operators.py
Due: none

GUI - Widgets cleanup timers, signals, imports, shutdown
  __init__.py
  __version__.py
  gui/widgets/layout.py
  gui/widgets/logger.py
  gui/widgets/ovldata.py
  gui/widgets/table.py
  gui/widgets/utils.py
  gui/widgets/window.py
  pyproject.toml
Due: none

bnk - regenerate audio names for pz
  __version__.py
  constants/Planet Zoo/audio.py
Due: none

GUI - Logging Queue, Refactored startup, auto_updater
  __init__.py
  __version__.py
  gui/__init__.py
  gui/app_utils.py
  gui/widgets/logger.py
  gui/widgets/window.py
  ovl_util/auto_updater.py
  ovl_util/logs.py
  pyproject.toml
Due: none

Constants - lru_cache for ConstantsProvider
  __init__.py
  __version__.py
  constants/__init__.py
  pyproject.toml
Due: none

GUI - RestartSetting implement restart
  __version__.py
  gui/widgets/window.py
Due: none

GUI - Fix bug from cache_directory refactor
  __version__.py
  gui/widgets/ovldata.py
Due: none

GUI - Fix missing from e3c286ecc, 8c555402f
  __init__.py
  __version__.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

GUI - Logger refactor, general cleanup
  __version__.py
  gui/__init__.py
  gui/widgets/layout.py
  gui/widgets/logger.py
  gui/widgets/ovldata.py
  gui/widgets/window.py
Due: none

fix dnd extract of some types
  __init__.py
  __version__.py
  modules/formats/BaseFormat.py
  pyproject.toml
Due: none

GUI - Logging utilities
  __version__.py
  experimentals/test_delegating_formatter.py
  gui/widgets/window.py
  ovl_util/logs.py
Due: none

GUI - Dev, debug tools
  __init__.py
  __version__.py
  gui/tools/dev_tools.py
  gui/tools/qt_debug.py
  pyproject.toml
Due: none

bnk - support blend container
  __init__.py
  __version__.py
  generated/formats/bnk/imports.py
  generated/formats/bnk/structs/BlendContainer.py
  generated/formats/bnk/structs/BlendContainer.pyi
  generated/formats/bnk/structs/CAkLayer.py
  generated/formats/bnk/structs/CAkLayer.pyi
  generated/formats/bnk/structs/CAssociatedChildData.py
  generated/formats/bnk/structs/CAssociatedChildData.pyi
  generated/formats/bnk/structs/HircPointer.py
  generated/formats/bnk/structs/HircPointer.pyi
  pyproject.toml
  source/formats/bnk/bnk.xml
Due: codegen

Tests - Complete GUI refactor, auto_updater tests
  tests/conftest.py
  tests/fixtures/missing_modules.py
  tests/fixtures/missing_packages.py
  tests/test_auto_update/__init__.py
  tests/test_auto_update/test_auto_update.py
  tests/test_gui/conftest.py
  tests/test_gui/fixtures/__init__.py
  tests/test_gui/fixtures/apps.py
  tests/test_gui/fixtures/blockers.py
  tests/test_gui/test_gui_exec.py
  tests/test_gui/test_gui_import.py
  tests/test_gui/test_gui_update.py
Due: none

GUI - Move update check
  __version__.py
  ovl_tool_gui.py
Due: check-imports

GUI - Helper function for finding orphaned widgets
  __version__.py
  gui/tools/qt_debug.py
Due: none

Codegen - Few manual .pyi
  __version__.py
  codegen/Compound.py
  generated/base_struct.pyi
  source/base_struct.pyi
  source/formats/base/structs/FixedString.pyi
  source/formats/base/structs/ZStringBuffer.pyi
Due: codegen

make base_struct.read_fields raise error again
  __version__.py
  generated/base_struct.py
  source/base_struct.py
Due: codegen

frenderlodspec - fix versioning for JWE1
  __version__.py
  generated/formats/frenderlodspec/structs/LODGroup.py
  generated/formats/frenderlodspec/structs/LODPoints.py
  source/formats/frenderlodspec/frenderlodspec.xml
Due: codegen

wmetasb - fix versioning, improve fields
  __version__.py
  generated/formats/wmeta/imports.py
  generated/formats/wmeta/structs/BnkMeta.py
  generated/formats/wmeta/structs/BnkMeta.pyi
  generated/formats/wmeta/structs/BnkMetaNew.py
  generated/formats/wmeta/structs/BnkMetaNew.pyi
  generated/formats/wmeta/structs/EventEntry.py
  generated/formats/wmeta/structs/EventEntry.pyi
  generated/formats/wmeta/structs/Jwe2WmetasbMain.py
  generated/formats/wmeta/structs/MediaEntry.py
  generated/formats/wmeta/structs/MediaEntry.pyi
  generated/formats/wmeta/structs/WmetasbMain.py
  generated/formats/wmeta/structs/WmetasbRoot.py
  generated/formats/wmeta/structs/WmetasbRoot.pyi
  modules/formats/BaseFormat.py
  modules/formats/WMETA.py
  source/formats/wmeta/wmeta.xml
Due: codegen

gui - recent files per game
  __version__.py
  gui/widgets/file_input.py
  gui/widgets/ovldata.py
  gui/widgets/window.py
  ovl_util/config.py
  ovl_util/logs.py
Due: none

gui - show last ovl per game
  __version__.py
  gui/widgets/ovldata.py
Due: none

gui - fix bnk tool, add todo
  __version__.py
  bnk_gui.py
  gui/widgets/file_input.py
Due: check-imports

GUI - Initial Migrator, temp location to fix last few commits
  __version__.py
  gui/__init__.py
  ovl_tool_gui.py
  ovl_util/logs.py
  utils/migrations.py
  utils/migrator.py
Due: check-imports

GUI - Log shortener refactor
  __init__.py
  __version__.py
  ovl_tool_gui.py
  ovl_util/logs.py
  pyproject.toml
Due: check-imports

gui - SearchWindow with own progress bar
  __version__.py
  gui/widgets/window.py
  modules/walker.py
  ovl_tool_gui.py
Due: check-imports

gui - pull out splitext_safe and use for search
  __version__.py
  modules/formats/BaseFormat.py
  modules/walker.py
  ovl_util/shared.py
Due: none

Imports - Cleanup manis format
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

Imports - Cleanup MemStruct format
  __version__.py
  generated/formats/ovl_base/structs/MemStruct.py
  modules/formats/shared.py
  source/formats/ovl_base/structs/MemStruct.py
Due: codegen

#429 - fix manis vercond
  __version__.py
  generated/formats/manis/versions.py
  manis_tool_gui.py
  source/formats/manis/manis.xml
Due: codegen, check-imports

Update .gitignore
  .gitignore
Due: none

Util - Fix splitext if no period
  __version__.py
  ovl_util/shared.py
Due: none
