Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

tex - add -nologo arg
  __init__.py
  __version__.py
  modules/formats/utils/dds_conversion.py
  pyproject.toml
Due: none

tex - walk compression types used in PC1
  __version__.py
  generated/formats/tex/enums/DdsTypeCoaster.py
  modules/walker.py
  source/formats/tex/tex.xml
Due: codegen

gui - fix missing reload button callback for dir widgets
  __version__.py
  gui/widgets/file_input.py
Due: none

decode motiongraphvars
  __version__.py
  generated/formats/motiongraphvars/__init__.py
  generated/formats/motiongraphvars/imports.py
  generated/formats/motiongraphvars/structs/MotiongraphVar.py
  generated/formats/motiongraphvars/structs/MotiongraphVar.pyi
  generated/formats/motiongraphvars/structs/MotiongraphVarNew.py
  generated/formats/motiongraphvars/structs/MotiongraphVarNew.pyi
  generated/formats/motiongraphvars/structs/MotiongraphVars.py
  generated/formats/motiongraphvars/structs/MotiongraphVars.pyi
  generated/formats/motiongraphvars/structs/MotiongraphVarsRoot.py
  generated/formats/motiongraphvars/structs/MotiongraphVarsRoot.pyi
  generated/formats/motiongraphvars/structs/__init__.py
  generated/formats/motiongraphvars/versions.py
  modules/formats/MOTIONGRAPHVARS.py
  source/formats/motiongraphvars/motiongraphvars.xml
Due: codegen

[DEV] Add fake-bpy-module
  __version__.py
  pyproject.toml
  tests/conftest.py
Due: none

[BANI] V7 research, V5 updates
  __version__.py
  generated/formats/bani/__init__.py
  generated/formats/bani/bitfields/PackedOffsetBones.py
  generated/formats/bani/bitfields/PackedOffsetBones.pyi
  generated/formats/bani/bitfields/__init__.py
  generated/formats/bani/imports.py
  generated/formats/bani/structs/BaniData.py
  generated/formats/bani/structs/BaniData.pyi
  generated/formats/bani/structs/BaniGpuAnimHeader.py
  generated/formats/bani/structs/BaniGpuAnimHeader.pyi
  generated/formats/bani/structs/BaniGpuChannelBones.py
  generated/formats/bani/structs/BaniGpuChannelBones.pyi
  generated/formats/bani/structs/BaniGpuChannels.py
  generated/formats/bani/structs/BaniGpuChannels.pyi
  generated/formats/bani/structs/BaniGpuChannelsLod.py
  generated/formats/bani/structs/BaniGpuChannelsLod.pyi
  generated/formats/bani/structs/BaniGpuChannelsLod256.py
  generated/formats/bani/structs/BaniGpuChannelsLod256.pyi
  generated/formats/bani/structs/BaniInfo.py
  generated/formats/bani/structs/BaniKeys.py
  generated/formats/bani/structs/BaniKeys.pyi
  generated/formats/bani/structs/BaniRoot.py
  generated/formats/bani/structs/BaniRoot.pyi
  generated/formats/bani/structs/BanisRoot.py
  generated/formats/bani/structs/BanisRoot.pyi
  generated/formats/bani/structs/BoneInfo.py
  modules/formats/BANI.py
  plugin/import_banis.py
  plugin/utils/transforms.py
  source/formats/bani/__init__.py
  source/formats/bani/bani.xml
Due: codegen

[MS2] Improve bone weight quantization
  __version__.py
  generated/formats/ms2/structs/MeshData.py
  source/formats/ms2/structs/MeshData.py
Due: codegen

[Gen] Missing codegen
  __init__.py
  __version__.py
  generated/formats/motiongraphvars/imports.py
  generated/formats/motiongraphvars/structs/MotiongraphVar.py
  generated/formats/motiongraphvars/structs/MotiongraphVar.pyi
  generated/formats/motiongraphvars/structs/MotiongraphVarNew.py
  generated/formats/motiongraphvars/structs/MotiongraphVarNew.pyi
  pyproject.toml
Due: none

[pyi] Manual type stubbing
  __version__.py
  generated/base_struct.pyi
  generated/formats/ms2/structs/ModelInfo.pyi
  source/base_struct.pyi
  source/formats/ms2/structs/ModelInfo.pyi
Due: codegen

[BANI] Fix missing rename
  __version__.py
  generated/formats/bani/structs/BaniGpuChannels.py
  generated/formats/bani/structs/BaniGpuChannels.pyi
  generated/formats/bani/structs/BaniGpuChannelsLod.py
  generated/formats/bani/structs/BaniGpuChannelsLod.pyi
  generated/formats/bani/structs/BaniGpuChannelsLod256.py
  generated/formats/bani/structs/BaniGpuChannelsLod256.pyi
  source/formats/bani/bani.xml
Due: codegen

[FGM] Clean up walker
  __version__.py
  modules/walker.py
Due: none

[FGM] Update shader dicts
  __init__.py
  __version__.py
  constants/Jurassic World Evolution 2/shaders.py
  constants/Jurassic World Evolution 3/shaders.py
  constants/Planet Coaster 2/shaders.py
  constants/Planet Zoo/shaders.py
  pyproject.toml
Due: none

added ppuipkg_explorer.py to experimentals
  experimentals/ppuipkg_explorer.py
Due: none

[Blender] Better fix_bone_lengths
  __init__.py
  __version__.py
  plugin/modules_import/armature.py
  pyproject.toml
Due: none

[BANI] Import of fps, better debug msg
  __init__.py
  __version__.py
  plugin/import_banis.py
  pyproject.toml
Due: none

[BANI] Remove non-skeletal import
  __version__.py
  plugin/import_banis.py
Due: none

[BANI] Remove scene param
  __init__.py
  __version__.py
  plugin/import_banis.py
  pyproject.toml
Due: none

[BANI] Move MAGIC_ to BanisFile
  __version__.py
  source/formats/bani/__init__.py
Due: codegen

[BANI] Cleanup xml, use codegen structs
  __version__.py
  generated/formats/bani/__init__.py
  generated/formats/bani/imports.py
  generated/formats/bani/structs/BaniGpuAnimHeader.py
  generated/formats/bani/structs/BaniGpuAnimHeader.pyi
  generated/formats/bani/structs/BaniRoot.py
  generated/formats/bani/structs/BaniRoot.pyi
  generated/formats/bani/structs/BanisRoot.py
  generated/formats/bani/structs/BanisRoot.pyi
  generated/formats/bani/structs/QuantizationInfo.py
  generated/formats/bani/structs/QuantizationInfo.pyi
  plugin/import_banis.py
  source/formats/bani/__init__.py
  source/formats/bani/bani.xml
Due: codegen

[BANI] Simplify transforms
  __version__.py
  plugin/import_banis.py
Due: none

[BANI] Fix access to anim_mode
  __version__.py
  plugin/import_banis.py
Due: none

[BANI] Linking of legacy 'pose' anims to suitable armatures and bones, posed transforms are broken
  __version__.py
  plugin/import_banis.py
  plugin/utils/anim.py
Due: none

[BANI] Speedup of quaternion decompression
  __version__.py
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
Due: codegen

[BNK] Fix loading of bnk without events aux
  __init__.py
  __version__.py
  bnk_gui.py
  pyproject.toml
Due: check-imports

[BNK] Catch permission errors in clear_tmp_dir
  __version__.py
  bnk_gui.py
Due: check-imports

[Plugin] Clean and document get_bone_bind_data
  __version__.py
  plugin/utils/anim.py
Due: none

[Plugin] g_ and b_ naming conventions for matrices
  __init__.py
  __version__.py
  plugin/export_banis.py
  plugin/export_manis.py
  plugin/import_banis.py
  plugin/import_manis.py
  plugin/modules_export/animation.py
  plugin/modules_export/armature.py
  pyproject.toml
Due: none

[Plugin] g_ and b_ naming conventions for matrices
  __version__.py
  plugin/import_banis.py
Due: none

[BANI] Cleanup import
  __version__.py
  plugin/import_banis.py
Due: none

[BANI] Don't recreate storage lists for every frame
  __version__.py
  plugin/import_banis.py
Due: none

[BANI] Use BaniGpuChannels for reading
  __version__.py
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
Due: codegen

[BANI] More descriptive channel_map
  __version__.py
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
Due: codegen

[MANIS] JWE3 ACL 2.1 animation import
  bin/jwe3_acl_decode.exe
  generated/formats/manis/acl.py
  generated/formats/manis/imports.py
  generated/formats/manis/structs/AclPaddingReader.py
  generated/formats/manis/structs/AclPaddingReader.pyi
  generated/formats/manis/structs/CompressedManiDataPC2.py
  generated/formats/manis/structs/CompressedManiDataPC2.pyi
  generated/formats/manis/structs/KeysReader.py
  generated/formats/manis/structs/ManiBlock.py
  generated/formats/manis/structs/ManiBlock.pyi
  plugin/import_manis.py
  source/formats/manis/acl.py
  source/formats/manis/manis.xml
  source/formats/manis/structs/AclPaddingReader.py
  source/formats/manis/structs/KeysReader.py
Due: codegen

[BANI] Update docs
  docs/Guides/Plugin/Animations.md
Due: none

[BANI] Update xml
  __version__.py
  generated/formats/bani/imports.py
  generated/formats/bani/structs/Bone.py
  generated/formats/bani/structs/Bone.pyi
  generated/formats/bani/structs/Vector3Short.py
  generated/formats/bani/structs/Vector3Short.pyi
  source/formats/bani/bani.xml
Due: codegen

[BANI] Fix export for legacy format
  __version__.py
  plugin/export_banis.py
Due: none

Signed-off-by: ViraL Cyclopes <shadowclaw455@gmail.com>
  __init__.py
  experimentals/dino_effects_tool.py
Due: none

this is for my own branch if you see a commit message dont do anything thx
  bin/jwe3_acl_decode.exe
  modules/formats/DDS.py.bak-20260814
Due: none

Anim stuff for JWE3
  plugin/import_manis.py
  plugin/modules_import/armature.py
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
