Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

tex - deinterleave dds buffer
  __init__.py
  __version__.py
  generated/formats/manis/logs/__init__.py
  generated/formats/tex/compounds/Pc2TexBuffer.py
  generated/formats/tex/compounds/Pc2TexMip.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  pyproject.toml
  source/formats/tex/tex.xml
Due: codegen

improve dumping with hex
  __version__.py
  experimentals/delayed_drag.py
  generated/formats/ovl/__init__.py
  generated/formats/ovl/compounds/MemPool.py
  modules/formats/BaseFormat.py
  ovl_tool_gui.py
  ovl_util/shared.py
  source/formats/ovl/__init__.py
  source/formats/ovl/compounds/MemPool.py
Due: codegen, check-imports

gui - #382 Search: open OVL on double click, don't rename
  __init__.py
  __version__.py
  gui/widgets.py
  modules/walker.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

gui - #382 Search: Set the OVL in game explorer so that it is expanded to on subsequent opens
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
Due: check-imports

dump - improve filtering of loaders for stack
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

dump - cache marked pools
  __version__.py
  generated/formats/ovl/__init__.py
  generated/formats/ovl/compounds/MemPool.py
  modules/formats/BaseFormat.py
  source/formats/ovl/__init__.py
  source/formats/ovl/compounds/MemPool.py
Due: codegen

dump - only dump selected buffers
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

dump - clean up naming of dumped files
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

gui - #382 Adjustable Name column width
  __version__.py
  gui/widgets.py
Due: check-imports

plugin - fix matcol import
  __version__.py
  plugin/import_matcol.py
Due: none

lua - fix syntax checking
  __init__.py
  __version__.py
  ovl_util/texconv.py
  pyproject.toml
Due: none

tex - improve pc2 deinterleaving
  __init__.py
  __version__.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

fix dumping of (ui) subfolders
  __version__.py
  modules/formats/BaseFormat.py
Due: none

gui - improve progress bar behavior, indeterminate state
  __version__.py
  bnk_gui.py
  gui/widgets.py
  manis_tool_gui.py
  modules/formats/shared.py
  ms2_tool_gui.py
  ovl_tool_gui.py
Due: check-imports

codegen - fix ZString.from_xml
  __version__.py
  generated/formats/base/basic.py
  source/formats/base/basic.py
Due: codegen

gui - debug dump in thread
  __version__.py
  ovl_tool_gui.py
Due: check-imports

tex - start of injection for pc2
  __version__.py
  generated/formats/tex/compounds/Pc2TexBuffer.py
  generated/formats/tex/compounds/Pc2TexMip.py
  generated/formats/tex/compounds/TexelHeader.py
  generated/formats/tex/imports.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  source/formats/tex/tex.xml
Due: codegen

tex - start of injection for pc2
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/DDS.py
  modules/formats/shared.py
  modules/walker.py
  ovl_tool_gui.py
  source/formats/ovl/__init__.py
Due: codegen, check-imports

gui - block more things while process is running
  __version__.py
  ovl_tool_gui.py
Due: check-imports

ovl - refactor aux treatment
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/BNK.py
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

aux entries refactor/cleaning
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

ovl - fixes for PC2 saving
  __init__.py
  __version__.py
  generated/formats/base/compounds/ZStringBuffer.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ovl/__init__.py
  modules/formats/shared.py
  pyproject.toml
  source/formats/base/compounds/ZStringBuffer.py
  source/formats/ms2/compounds/JointData.py
  source/formats/ovl/__init__.py
Due: codegen

tex - fix for pc2
  __init__.py
  __version__.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

tex - fix for pc2 2
  __version__.py
  modules/formats/DDS.py
Due: none

tex - improve for pc2
  __version__.py
  modules/formats/DDS.py
Due: none

tex - improve for pc2
  __version__.py
  generated/formats/dds/__init__.py
  generated/formats/tex/compounds/Pc2TexBuffer.py
  generated/formats/tex/tex.xml
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  source/formats/dds/__init__.py
  source/formats/tex/tex.xml
Due: codegen

tex - improve for pc2
  __init__.py
  __version__.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

Update for .trackedridecar
  generated/formats/trackedridecar/compounds/Row.py
  generated/formats/trackedridecar/compounds/Seat.py
  generated/formats/trackedridecar/compounds/TrackedRideCarRoot.py
  generated/formats/trackedridecar/compounds/TrackedRideCarSub.py
  generated/formats/trackedridecar/imports.py
  generated/formats/trackedridecar/trackedridecar.xml
  source/formats/trackedridecar/trackedridecar.xml
Due: codegen

tex - improve for pc2
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  source/formats/ovl/__init__.py
Due: codegen

improve aux
  __init__.py
  __version__.py
  modules/formats/BNK.py
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  pyproject.toml
Due: none

improve walker for ZTUAC
  __init__.py
  __version__.py
  modules/walker.py
  pyproject.toml
Due: none

improve txt for ZTUAC
  __version__.py
  modules/formats/TXT.py
Due: none

improve walker for ztuac
  __version__.py
  modules/walker.py
Due: none

improve walker for ztuac
  __init__.py
  __version__.py
  constants/converter.py
  pyproject.toml
Due: none

improve txt for ztuac
  __version__.py
  constants/Zoo Tycoon/hashes.py
  constants/Zoo Tycoon/mimes.py
  generated/formats/ovl/__init__.py
  modules/formats/TXT.py
  source/formats/ovl/__init__.py
Due: codegen

improve txt for ztuac
  __version__.py
  modules/formats/TXT.py
Due: none

improve txt for pc2
  __version__.py
  modules/formats/TXT.py
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
