Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

PC2 improve rule for tex num_weaves
  __version__.py
  modules/formats/DDS.py
Due: none

Change cfg option for print_debug_ovl
  __version__.py
  ovl_tool_gui.py
Due: check-imports

Add docs for DDS stuff
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/DDS.py
  source/formats/ovl/__init__.py
Due: codegen

Store uncaught_fragments for PC2 c0 main ovl
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

Add icon authoring tut
  docs/Guides/SUMMARY.md
  docs/Guides/Textures/Authoring Icons.md
  docs/Guides/Textures/images/dds_comparison.gif
  docs/Guides/Textures/images/gimp_save_png.png
  docs/Guides/Textures/images/gimp_solidified.png
  docs/Guides/Textures/images/gimp_solidify.png
  docs/Guides/Textures/index.md
Due: none

ms2 - change convex hull for JWE1 PDLC6_BLDG_PowerStationGeo
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ModelReader.py
  pyproject.toml
  source/formats/manis/__init__.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
Due: codegen

PC2 - hfloat textures by @hexabits
  __init__.py
  __version__.py
  generated/formats/dds/__init__.py
  pyproject.toml
  source/formats/dds/__init__.py
Due: codegen

update texconv.exe
  __init__.py
  __version__.py
  ovl_util/texconv/texconv.exe
  pyproject.toml
Due: none

Improve .trackedridecars
  generated/formats/trackedridecar/compounds/TrackedRideCarRoot.py
  generated/formats/trackedridecar/trackedridecar.xml
  source/formats/trackedridecar/trackedridecar.xml
Due: codegen

Update comment about size
  __init__.py
  __version__.py
  generated/formats/trackedridecar/trackedridecar.xml
  pyproject.toml
  source/formats/trackedridecar/trackedridecar.xml
Due: codegen

Version .trackedridecar and swap ptr names
  __version__.py
  generated/formats/trackedridecar/compounds/TrackedRideCarRoot.py
  generated/formats/trackedridecar/trackedridecar.xml
  source/formats/trackedridecar/trackedridecar.xml
Due: codegen

ovl - cleanup validate_fragments
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

ovl - improve validate_fragments
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

pc2 - only show texbuffer file when debug mode is on
  modules/formats/DDS.py
Due: none

fix search results
  __init__.py
  __version__.py
  modules/walker.py
  pyproject.toml
Due: none

fix fgm editor game context
  __version__.py
  fgm_editor_gui.py
  generated/formats/fgm/fgm.xml
  generated/formats/ovl_base/__init__.py
  modules/formats/FGM.py
  source/formats/fgm/fgm.xml
  source/formats/ovl_base/__init__.py
Due: codegen, check-imports

fgm fix vercond for PC2
  __version__.py
  generated/formats/fgm/compounds/FgmHeader.py
  generated/formats/fgm/fgm.xml
  source/formats/fgm/fgm.xml
Due: codegen

ovl - refactor buffer_groups
  __version__.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

ovl - refactor buffer_groups
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

gui - update icons to svg
  __version__.py
  gui/widgets.py
  icons/bani.png
  icons/banis.png
  icons/bnk.png
  icons/dinosaurmaterialeffects.png
  icons/dinosaurmateriallayers.png
  icons/dinosaurmaterialpatterns.png
  icons/dinosaurmaterialvariants.png
  icons/dir.png
  icons/enumnamer.png
  icons/exit.png
  icons/fct.png
  icons/fdb.png
  icons/fgm.png
  icons/hier.png
  icons/lua.png
  icons/mani.png
  icons/manis.png
  icons/manual.png
  icons/materialcollection.png
  icons/mdl2.png
  icons/motiongraph.png
  icons/motiongraphvars.png
  icons/ms2.png
  icons/ovl.png
  icons/prefab.png
  icons/report.png
  icons/save.png
  icons/tex.png
  icons/txt.png
  icons/uimoviedefinition.png
  icons/world.png
  icons/wsm.png
  icons/xmlconfig.png
  ovl_tool_gui.py
Due: check-imports

gui - update icons to svg
  icons/bani.svg
  icons/banis.svg
  icons/bnk.svg
  icons/compare.svg
  icons/dinosaurmaterialeffects.svg
  icons/dinosaurmateriallayers.svg
  icons/dinosaurmaterialpatterns.svg
  icons/dinosaurmaterialvariants.svg
  icons/dir.svg
  icons/enumnamer.svg
  icons/exit.svg
  icons/fct.svg
  icons/fdb.svg
  icons/fgm.svg
  icons/hier.svg
  icons/lua.svg
  icons/mani.svg
  icons/manis.svg
  icons/manual.svg
  icons/materialcollection.svg
  icons/mdl2.svg
  icons/motiongraph.svg
  icons/motiongraphvars.svg
  icons/ms2.svg
  icons/ovl.svg
  icons/prefab.svg
  icons/report.svg
  icons/save.svg
  icons/tex.svg
  icons/texel.svg
  icons/txt.svg
  icons/uimovidefinition.svg
  icons/world.svg
  icons/wsm.svg
  icons/xmlconfig.svg
Due: none

gui - open recent files
  __version__.py
  gui/widgets.py
  icons/recent.svg
  ovl_tool_gui.py
Due: check-imports

gui - improve recent files
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
Due: check-imports

gui - customize num recent files
  __version__.py
  gui/widgets.py
  ovl_util/config.py
Due: check-imports

manis - improve import logic
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  plugin/modules_export/armature.py
  plugin/modules_import/anim.py
  pyproject.toml
  source/formats/manis/__init__.py
Due: codegen

manis - fix decompression for missing context (end of segment)
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/ms2/__init__.py
  pyproject.toml
  source/formats/manis/__init__.py
  source/formats/ms2/__init__.py
Due: codegen

manis - improve srb handling for JWE2, fix export crash
  __version__.py
  generated/formats/manis/__init__.py
  plugin/export_manis.py
  plugin/modules_export/armature.py
  source/formats/manis/__init__.py
Due: codegen

manis - improve var names
  __init__.py
  __version__.py
  plugin/export_manis.py
  pyproject.toml
Due: none

manis - fix discarding unused bones
  __version__.py
  plugin/export_manis.py
  plugin/modules_export/armature.py
Due: none

manis - update manis editor with keys inspection
  __version__.py
  experimentals/editabletreemodel/default.txt
  experimentals/editabletreemodel/editabletreemodel.pyproject
  experimentals/editabletreemodel/main.py
  experimentals/editabletreemodel/mainwindow.py
  experimentals/editabletreemodel/treeitem.py
  experimentals/editabletreemodel/treemodel.py
  experimentals/treeview.py
  generated/formats/manis/__init__.py
  icons/floats.svg
  icons/ori_bones.svg
  icons/pos_bones.svg
  icons/scl_bones.svg
  manis_tool_gui.py
  source/formats/manis/__init__.py
Due: codegen, check-imports

banis - improve spec for banis
  __init__.py
  __version__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/BaniRoot.py
  generated/formats/bani/compounds/BanisRoot.py
  generated/formats/bani/compounds/Keys.py
  generated/formats/bani/compounds/StructA.py
  generated/formats/bani/compounds/StructB.py
  generated/formats/bani/imports.py
  modules/formats/BANI.py
  pyproject.toml
  source/formats/bani/bani.xml
Due: codegen

banis - don't debug print as much
  __init__.py
  __version__.py
  modules/formats/BANI.py
  pyproject.toml
Due: none

manis - change srb export behavior
  __init__.py
  __version__.py
  plugin/export_manis.py
  pyproject.toml
Due: none

manis - update description, change precision
  __init__.py
  __version__.py
  plugin/export_manis.py
  pyproject.toml
Due: none

feat: support lua filename flattening for injection and extraction
  __version__.py
  modules/formats/LUA.py
  ovl_util/config.py
Due: none
