Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

improve bnk spec
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AdvSettingsParams.py
  generated/formats/bnk/compounds/AkPlaylistItem.py
  generated/formats/bnk/compounds/AkPropBundle.py
  generated/formats/bnk/compounds/AuxParams.py
  generated/formats/bnk/compounds/EventAction.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/InitialRTPC.py
  generated/formats/bnk/compounds/NodeBaseParams.py
  generated/formats/bnk/compounds/NodeInitialFxParams.py
  generated/formats/bnk/compounds/NodeInitialParams.py
  generated/formats/bnk/compounds/PositioningParams.py
  generated/formats/bnk/compounds/RandomOrSequenceContainer.py
  generated/formats/bnk/compounds/StateChunk.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
Due: codegen

Exclude temporary bnk folder from git
  .gitignore
Due: none

Add wwise hash_guid
  __init__.py
  __version__.py
  modules/formats/shared.py
  pyproject.toml
Due: none

First sound names mapped
  __version__.py
  bnk_gui.py
  generated/array.py
  generated/formats/base/basic.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AkPropBundle.py
  generated/formats/bnk/compounds/InitialRTPC.py
  generated/formats/bnk/compounds/NodeInitialParams.py
  generated/formats/bnk/compounds/TypeOther.py
  generated/formats/bnk/imports.py
  source/array.py
  source/formats/base/basic.py
  source/formats/bnk/bnk.xml
Due: codegen, check-imports

Fix gitignore
  .gitignore
  __version__.py
  generated/formats/bnk/compounds/AkPropMinMax.py
  generated/formats/bnk/compounds/AkPropValue.py
  generated/formats/bnk/compounds/AkRTPCGraphPoint.py
  generated/formats/bnk/compounds/Rtpc.py
Due: none

Improve bnk spec
  __version__.py
  bnk_gui.py
  generated/formats/bnk/bitfields/UlPluginID.py
  generated/formats/bnk/bitfields/__init__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AkBankSourceData.py
  generated/formats/bnk/compounds/AkPropMinMax.py
  generated/formats/bnk/compounds/AkState.py
  generated/formats/bnk/compounds/AkStateGroupChunk.py
  generated/formats/bnk/compounds/AkStatePropertyInfo.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/CAkActionPlay.py
  generated/formats/bnk/compounds/FXChunk.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/NodeInitialFxParams.py
  generated/formats/bnk/compounds/StateChunk.py
  generated/formats/bnk/enums/AKBKSourceType.py
  generated/formats/bnk/enums/AkPropID.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/HircPointer.py
Due: codegen, check-imports

Improve ms2 for DLA - closes #420
  __version__.py
  generated/formats/ms2/__init__.py
  source/formats/ms2/__init__.py
Due: codegen

Improve bnk
  __init__.py
  __version__.py
  bnk_gui.py
  generated/formats/bnk/compounds/HircPointer.py
  gui/widgets.py
  pyproject.toml
  source/formats/bnk/compounds/HircPointer.py
Due: codegen, check-imports

walk audio for jwe2
  __version__.py
  constants/Jurassic World Evolution 2/audio.py
Due: none

walk audio for pz
  __version__.py
  constants/Planet Zoo/audio.py
Due: none

improve warning for missing png tile
  __version__.py
  constants/Planet Zoo/texchannels.py
  modules/formats/DDS.py
  ovl_util/imarray.py
Due: none

update bnk
  __version__.py
  bnk_gui.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen, check-imports

update bnk
  __version__.py
  bnk_gui.py
  generated/formats/bnk/bitfields/AuxBitfield.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/AuxParams.py
  generated/formats/bnk/compounds/FXChunkBase.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/NodeBaseParams.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/HircPointer.py
Due: codegen, check-imports

update bnk
  __version__.py
  bnk_gui.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/EventAction.py
  generated/formats/bnk/enums/ActionType.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
Due: codegen, check-imports

improve bnk editor
  __version__.py
  bnk_gui.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AkSwitchNodeParams.py
  generated/formats/bnk/compounds/CAkSwitchPackage.py
  generated/formats/bnk/compounds/Event.py
  generated/formats/bnk/compounds/EventAction.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/RanSeqContainer.py
  generated/formats/bnk/compounds/SwitchContainer.py
  generated/formats/bnk/enums/AKBKSourceType.py
  generated/formats/bnk/enums/HircType.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
Due: codegen, check-imports

Improve motiongraph
  __init__.py
  __version__.py
  generated/formats/motiongraph/compounds/MotiongraphRootFrag.py
  generated/formats/motiongraph/compounds/RandomActivityActivityInfo.py
  generated/formats/motiongraph/compounds/RandomActivityActivityInfoData.py
  generated/formats/motiongraph/compounds/RandomSelectActivityActivityData.py
  generated/formats/motiongraph/compounds/XMLArray.py
  generated/formats/motiongraph/imports.py
  generated/formats/motiongraph/motiongraph.xml
  pyproject.toml
  source/formats/motiongraph/motiongraph.xml
Due: codegen

Improve motiongraph
  __version__.py
  generated/formats/motiongraph/compounds/Activity.py
  generated/formats/motiongraph/compounds/MGTwo.py
  generated/formats/motiongraph/compounds/MRFMember2.py
  generated/formats/motiongraph/compounds/NestedZStr.py
  generated/formats/motiongraph/compounds/RagdollPhysicsActivityData.py
  generated/formats/motiongraph/compounds/RandomSelectActivityActivityData.py
  generated/formats/motiongraph/compounds/SubNestedZStr.py
  generated/formats/motiongraph/compounds/TriggeredActivityActivityData.py
  generated/formats/motiongraph/imports.py
  generated/formats/motiongraph/motiongraph.xml
  source/formats/motiongraph/motiongraph.xml
Due: codegen

Improve motiongraph
  __version__.py
  constants/Jurassic World Evolution 2/audio.py
  generated/formats/motiongraph/compounds/MRFArray1.py
  generated/formats/motiongraph/compounds/MotiongraphRootFrag.py
  generated/formats/motiongraph/compounds/MotiongraphVars.py
  generated/formats/motiongraph/compounds/Transition.py
  generated/formats/motiongraph/imports.py
  generated/formats/motiongraph/motiongraph.xml
  source/formats/motiongraph/motiongraph.xml
Due: codegen

Improve motiongraph
  __version__.py
  constants/Jurassic World Evolution 2/audio.py
  constants/Planet Coaster 2/audio.py
  constants/Planet Zoo/audio.py
  generated/formats/motiongraph/compounds/MotiongraphHeader.py
  generated/formats/motiongraph/motiongraph.xml
  modules/formats/MOTIONGRAPH.py
  source/formats/motiongraph/motiongraph.xml
Due: codegen

bnk gui sort items
  __version__.py
  bnk_gui.py
Due: check-imports

improve get_exe_from_ovldata
  __version__.py
  gui/app_utils.py
Due: none

option not to rewrite aux files
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/BaseFormat.py
  ovl_tool_gui.py
  ovl_util/config.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen, check-imports

cleanup aux names
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/BNK.py
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

Don't close aux handles after saving
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

improve bnk gui
  __version__.py
  bnk_gui.py
Due: check-imports

improve array tex for pc2
  __version__.py
  generated/formats/dds/__init__.py
  modules/formats/DDS.py
  source/formats/dds/__init__.py
Due: codegen

#416 - catch QtWinExtras import
  __version__.py
  gui/widgets.py
Due: check-imports

Improve progress bar indicator
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  gui/widgets.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen, check-imports

GUI - Filtering improvements
  __init__.py
  __version__.py
  gui/widgets.py
  icons/regex.svg
  pyproject.toml
Due: check-imports

GUI - Improve Lua extraction and logging
  __init__.py
  __version__.py
  modules/formats/LUA.py
  ovl_util/texconv.py
  pyproject.toml
Due: none

Deps - Isolate matplotlib in pyproject.toml
  __version__.py
  gui/__init__.py
  gui/widgets.py
  ovl_util/auto_updater.py
  pyproject.toml
Due: check-imports

Plugin - Guard bpy imports from pytest, etc.
  __init__.py
  __version__.py
  pyproject.toml
Due: none

[Tests] Debug pytest remote failure 1
  __version__.py
  gui/widgets.py
Due: check-imports

[Tests] Add manis tool deps to pytest
  .github/workflows/pytest.yaml
Due: none

[Tests] Debug pytest remote failure 2
  __version__.py
  gui/widgets.py
Due: check-imports

[Tests] Debug pytest remote failure 3
  __version__.py
  gui/widgets.py
Due: check-imports

Improve typing_timer
  __version__.py
  gui/widgets.py
Due: check-imports

Cleanup get_steam_games
  __version__.py
  gui/app_utils.py
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
