Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

update ridesettings.xml for PC2
  __version__.py
  generated/formats/ridesettings/compounds/RideSettingsRoot.py
  generated/formats/ridesettings/ridesettings.xml
  source/formats/ridesettings/ridesettings.xml
Due: codegen

update guestonrideanimsettings.xml for PC2
  __version__.py
  generated/formats/guestonrideanimsettings/compounds/RideAnims.py
  generated/formats/guestonrideanimsettings/guestonrideanimsettings.xml
  generated/formats/ovl_base/compounds/ArrayPointer.py
  source/formats/guestonrideanimsettings/guestonrideanimsettings.xml
  source/formats/ovl_base/compounds/ArrayPointer.py
Due: codegen

Update PATH.py
  __version__.py
  modules/formats/PATH.py
Due: none

Fix channel discarding for manis export
  __init__.py
  __version__.py
  plugin/export_manis.py
  pyproject.toml
Due: none

Fix display_type
  __init__.py
  __version__.py
  plugin/utils/object.py
  pyproject.toml
Due: none

update janitorsettings.xml for PC2
  __init__.py
  __version__.py
  generated/formats/janitorsettings/compounds/JanitorBetweenArrays.py
  generated/formats/janitorsettings/compounds/JanitorEnd.py
  generated/formats/janitorsettings/compounds/JanitorPreCount.py
  generated/formats/janitorsettings/compounds/JanitorSettingsRoot.py
  generated/formats/janitorsettings/imports.py
  generated/formats/janitorsettings/janitorsettings.xml
  pyproject.toml
  source/formats/janitorsettings/janitorsettings.xml
Due: codegen

manis - fix nla strips
  __init__.py
  __version__.py
  plugin/import_manis.py
  pyproject.toml
Due: none

manis - fix reading for PC2 uncompressed
  __version__.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/manis.xml
  source/formats/manis/manis.xml
Due: codegen

manis - improve spec for pc2
  __version__.py
  generated/formats/manis/basic.py
  generated/formats/manis/compounds/CompressedManiDataPC2.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/compounds/UncompressedManiDataPC2.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  manis_tool_gui.py
  source/formats/manis/basic.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/manis.xml
Due: codegen, check-imports

manis - improve spec for pc2
  __version__.py
  generated/formats/manis/compounds/CompressedManiDataPC2.py
  generated/formats/manis/manis.xml
  source/formats/manis/manis.xml
Due: codegen

manis - improve spec for pc2
  __version__.py
  generated/formats/manis/compounds/CompressedManiDataPC2.py
  generated/formats/manis/compounds/SmallChunk.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  source/formats/manis/manis.xml
Due: codegen

add matplotlib dependency
  __version__.py
  pyproject.toml
Due: none

refactor manis export, fix euler issue for JWE1
  __init__.py
  __version__.py
  plugin/export_manis.py
  plugin/import_manis.py
  plugin/modules_export/animation.py
  pyproject.toml
Due: none

improve UshortLut for WH
  __init__.py
  __version__.py
  generated/formats/manis/compounds/UshortLut.py
  generated/formats/manis/manis.xml
  generated/formats/manis/versions.py
  pyproject.toml
  source/formats/manis/manis.xml
Due: codegen

Extract external aux streams for bnk
  __init__.py
  __version__.py
  generated/formats/bnk/__init__.py
  modules/formats/BNK.py
  pyproject.toml
Due: none

Seek over bad sizes for hirc pointer data
  __init__.py
  __version__.py
  generated/formats/bnk/__init__.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/HircPointer.py
  pyproject.toml
  source/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/HircPointer.py
Due: codegen

Improve specs for bnk events
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/EventAction.py
  generated/formats/bnk/compounds/MusicTrack.py
  source/formats/bnk/bnk.xml
Due: codegen

Improve specs for bnk events
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/EventAction.py
  generated/formats/bnk/compounds/HircObject.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/SoundSfxVoice.py
  generated/formats/bnk/compounds/TypeOther.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/HircPointer.py
Due: codegen

Fix BKHDSection spec
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/BKHDSection.py
  generated/formats/bnk/compounds/HircPointer.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen

cleanup bnk spec
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/BKHDSection.py
  generated/formats/bnk/compounds/DATASection.py
  generated/formats/bnk/compounds/DIDXSection.py
  generated/formats/bnk/compounds/DataPointer.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
Due: codegen

cleanup bnk spec
  __version__.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen

fix ms2 import for dla - closes #419
  __version__.py
  generated/formats/ms2/compounds/ZtMeshData.py
  source/formats/ms2/compounds/ZtMeshData.py
Due: codegen

add fnv1_32 function
  __version__.py
  modules/formats/shared.py
Due: none

improve wmetasb versioning for pc2
  __init__.py
  __version__.py
  generated/formats/wmeta/compounds/EventEntry.py
  generated/formats/wmeta/compounds/Jwe2WmetasbMain.py
  generated/formats/wmeta/compounds/WmetasbRoot.py
  generated/formats/wmeta/wmeta.xml
  pyproject.toml
  source/formats/wmeta/wmeta.xml
Due: codegen

refactor game selector
  __init__.py
  __version__.py
  gui/widgets.py
  loc_tool_gui.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

add bnk finder to bnk tool
  __init__.py
  __version__.py
  bnk_gui.py
  manis_tool_gui.py
  pyproject.toml
Due: check-imports

fix widgets
  __version__.py
  gui/widgets.py
Due: check-imports

fix widgets
  __init__.py
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

fix widgets
  __version__.py
  bnk_gui.py
Due: check-imports

fix widgets
  __version__.py
  bnk_gui.py
  gui/widgets.py
Due: check-imports

improve bnk editor
  __version__.py
  bnk_gui.py
Due: check-imports

fix game choice in ovl tool
  __version__.py
  ovl_tool_gui.py
Due: check-imports

improve motiongraph for pc2
  __init__.py
  __version__.py
  generated/formats/motiongraph/compounds/SelectActivityActivityData.py
  generated/formats/motiongraph/compounds/State.py
  generated/formats/motiongraph/motiongraph.xml
  pyproject.toml
  source/formats/motiongraph/motiongraph.xml
Due: codegen

improve motiongraph
  __version__.py
  generated/formats/motiongraph/compounds/ActivitiesLinks.py
  generated/formats/motiongraph/compounds/Activity.py
  generated/formats/motiongraph/compounds/ActivityEntry.py
  generated/formats/motiongraph/compounds/ActivityReference.py
  generated/formats/motiongraph/compounds/CurveData.py
  generated/formats/motiongraph/compounds/CurveDataPoints.py
  generated/formats/motiongraph/compounds/DataStreamResourceData.py
  generated/formats/motiongraph/compounds/DataStreamResourceDataList.py
  generated/formats/motiongraph/compounds/DataStreamResourceDataPoints.py
  generated/formats/motiongraph/compounds/GroupedActivityActivityData.py
  generated/formats/motiongraph/compounds/MRFArray1.py
  generated/formats/motiongraph/compounds/MRFArray2.py
  generated/formats/motiongraph/compounds/MotiongraphRootFrag.py
  generated/formats/motiongraph/compounds/RandomActivityActivityInfoData.py
  generated/formats/motiongraph/compounds/SelectActivityActivityData.py
  generated/formats/motiongraph/compounds/State.py
  generated/formats/motiongraph/compounds/StateArray.py
  generated/formats/motiongraph/compounds/StateList.py
  generated/formats/motiongraph/compounds/StateReference.py
  generated/formats/motiongraph/imports.py
  generated/formats/motiongraph/motiongraph.xml
  source/formats/motiongraph/compounds/Activity.py
  source/formats/motiongraph/compounds/DataStreamResourceData.py
  source/formats/motiongraph/motiongraph.xml
Due: codegen

audio event collecting for motiongraph
  __init__.py
  __version__.py
  generated/array.py
  generated/base_struct.py
  generated/formats/motiongraph/compounds/DataStreamResourceData.py
  modules/formats/MOTIONGRAPH.py
  pyproject.toml
  source/array.py
  source/base_struct.py
  source/formats/motiongraph/compounds/DataStreamResourceData.py
Due: codegen

add audio event walker
  __version__.py
  constants/Planet Coaster 2/audio.py
  constants/converter.py
  modules/formats/MOTIONGRAPH.py
  modules/walker.py
  ovl_tool_gui.py
Due: check-imports

improve bnk mapping
  __version__.py
  bnk_gui.py
  constants/__init__.py
  modules/walker.py
Due: check-imports

improve bnk spec
  __version__.py
  bnk_gui.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/Sound.py
  generated/formats/bnk/enums/HircType.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen, check-imports

improve bnk spec
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/enums/HircType.py
  source/formats/bnk/bnk.xml
Due: codegen
