Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

Cleanup get_steam_games 2
  __version__.py
  gui/app_utils.py
Due: none

GUI - Fix logger icons for HiDPI
  __version__.py
  gui/widgets.py
Due: check-imports

Fix progress bar hiding
  __version__.py
  gui/widgets.py
Due: check-imports

Cleanup ms2
  __init__.py
  __version__.py
  generated/formats/ms2/__init__.py
  pyproject.toml
  source/formats/ms2/__init__.py
Due: codegen

Improve ArrayPointer to avoid spamming false warnings in from_xml
  __version__.py
  generated/formats/ovl_base/compounds/ArrayPointer.py
  generated/formats/ovl_base/compounds/ForEachPointer.py
  source/formats/ovl_base/compounds/ArrayPointer.py
  source/formats/ovl_base/compounds/ForEachPointer.py
Due: codegen

[GUI] Improve cacher shutdown
  __init__.py
  __version__.py
  gui/widgets.py
  pyproject.toml
Due: check-imports

Move walker_export out of ovldata for better dir view performance
  __version__.py
  gui/widgets.py
  modules/walker.py
  ovl_tool_gui.py
Due: check-imports

#382 - clear log on creating new file
  __version__.py
  gui/widgets.py
Due: check-imports

improve banis spec for pc2
  __version__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/BaniBones.py
  generated/formats/bani/compounds/BaniData.py
  generated/formats/bani/compounds/BanisRoot.py
  generated/formats/bani/compounds/BoneInfo.py
  generated/formats/bani/compounds/StructA.py
  generated/formats/bani/compounds/StructB.py
  generated/formats/bani/imports.py
  modules/formats/BANI.py
  source/formats/bani/bani.xml
Due: codegen

GUI - Improve directory cacher, filter expansion
  __version__.py
  gui/widgets.py
Due: check-imports

Improve banis spec
  __init__.py
  __version__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/BaniData.py
  generated/formats/bani/compounds/BoneInfo.py
  modules/formats/BANI.py
  pyproject.toml
  source/formats/bani/bani.xml
Due: codegen

[GUI] Initial commit for widgets module split
  __init__.py
  __version__.py
  gui/widgets/__init__.py
  pyproject.toml
Due: none

MANIS - cleanup decompression
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/manis/compounds/KeysReader.py
  source/formats/manis/__init__.py
  source/formats/manis/compounds/KeysReader.py
Due: codegen

MANIS - improve gui with nav toolbar
  __init__.py
  __version__.py
  manis_tool_gui.py
  pyproject.toml
Due: check-imports

MANIS - add todo for read_pos_keys
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

[GUI] Widgets module split
  __version__.py
  fgm_editor_gui.py
  gui/__init__.py
  gui/app_utils.py
  gui/tasks.py
  gui/widgets/__init__.py
  gui/widgets/event_filters.py
  gui/widgets/file_input.py
  gui/widgets/input.py
  gui/widgets/layout.py
  gui/widgets/logger.py
  gui/widgets/menu.py
  gui/widgets/ovldata.py
  gui/widgets/table.py
  gui/widgets/utils.py
  gui/widgets/window.py
Due: check-imports

BNK - open dirs on double click
  __version__.py
  bnk_gui.py
Due: check-imports

BNK - improve spec and injection
  __init__.py
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/BnkBufferData.py
  modules/formats/BNK.py
  pyproject.toml
  source/formats/bnk/bnk.xml
Due: codegen

BNK - fix issues
  __version__.py
  bnk_gui.py
  generated/formats/bnk/__init__.py
  modules/formats/BNK.py
  source/formats/bnk/__init__.py
Due: codegen, check-imports

MANIS - hold key from previous frame
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

MANIS - cleanup
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

MANIS - ori cleanup
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

MANIS - pos cleanup
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  pyproject.toml
  source/formats/manis/__init__.py
Due: codegen

BNK - update wem size
  __version__.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen

MANIS - add todo for loc
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

BNK - fix padding
  __version__.py
  generated/formats/bnk/__init__.py
  generated/formats/bnk/compounds/AuxFileContainer.py
  source/formats/bnk/__init__.py
  source/formats/bnk/compounds/AuxFileContainer.py
Due: codegen

MANIS - guard bitarray typing from missing module, cleanup
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  pyproject.toml
  source/formats/manis/__init__.py
Due: codegen

MANIS - cleanup
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  pyproject.toml
  source/formats/manis/__init__.py
Due: codegen

MANIS - simplify get_quat_scale
  __version__.py
  experimentals/get_quat_scale.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

MANIS - cleanup make_signed
  __version__.py
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
Due: codegen

MANIS - don't spam log with plt
  __version__.py
  manis_tool_gui.py
Due: check-imports

BNK - cleanup
  __version__.py
  bnk_gui.py
  generated/formats/bnk/__init__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/enums/AkPropID.py
  source/formats/bnk/__init__.py
  source/formats/bnk/bnk.xml
Due: codegen, check-imports

BNK - fix MusicTrack
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AkClipAutomation.py
  generated/formats/bnk/compounds/MusicTrack.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
Due: codegen

BNK - add MusicSegment
  __version__.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AkMeterInfo.py
  generated/formats/bnk/compounds/AkMusicMarkerWwise.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/MusicNodeParams.py
  generated/formats/bnk/compounds/MusicSegment.py
  generated/formats/bnk/compounds/NodeInitialParams.py
  generated/formats/bnk/enums/AkPropID.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/HircPointer.py
Due: codegen

BNK - add MusicSwitch
  __version__.py
  bnk_gui.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AkMusicTransDstRule.py
  generated/formats/bnk/compounds/AkMusicTransSrcRule.py
  generated/formats/bnk/compounds/AkMusicTransitionRule.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/MusicSwitch.py
  generated/formats/bnk/compounds/MusicTrack.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
Due: codegen, check-imports

BNK - refactor, add drag to gui
  __version__.py
  bnk_gui.py
  generated/formats/bnk/__init__.py
  source/formats/bnk/__init__.py
Due: codegen, check-imports
