Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

pack_tool - improve watcher
  __version__.py
  pack_tool_gui.py
Due: check-imports

pack_tool - improve cfg
  __version__.py
  pack_tool_gui.py
  utils/config.py
Due: check-imports

support for games installed from Epic
  __init__.py
  __version__.py
  gui/app_utils.py
  pyproject.toml
Due: none

pack_tool - improve cfg
  __init__.py
  __version__.py
  pack_tool_gui.py
  pyproject.toml
Due: check-imports

pack_tool - improve
  __init__.py
  __version__.py
  pack_tool_gui.py
  pyproject.toml
Due: check-imports

plugin - fix fur fin detection for custom normals
  __version__.py
  plugin/modules_import/geometry.py
Due: none

gui - supply commands for new ovl
  __version__.py
  generated/formats/ovl/__init__.py
  ovl_tool_gui.py
  pack_tool_gui.py
  source/formats/ovl/__init__.py
Due: codegen, check-imports

plugin - import better names
  __init__.py
  __version__.py
  plugin/import_ms2.py
  plugin/utils/lods.py
  pyproject.toml
Due: none

gui - fix crash for empty config
  __version__.py
  gui/widgets/ovldata.py
  utils/config.py
Due: none

ovl - hash collisions are actually from shared basenames, so seem to be harmless
  __init__.py
  __version__.py
  generated/formats/ovl/__init__.py
  pyproject.toml
  source/formats/ovl/__init__.py
Due: codegen

dds - promote warning to error
  __version__.py
  modules/formats/DDS.py
Due: none

plugin - better detection of lod collection
  __init__.py
  __version__.py
  plugin/utils/lods.py
  pyproject.toml
Due: none

pack tool - unified codebase for cmd and gui, closes #435
  __version__.py
  pack_tool.py
  pack_tool_cmd.py
Due: none

fix ovl cmd import error
  __init__.py
  __version__.py
  gui/app_utils.py
  modules/formats/utils/__init__.py
  modules/formats/utils/dds_conversion.py
  modules/formats/utils/lua_conversion.py
  modules/formats/utils/wem_conversion.py
  pyproject.toml
  utils/auto_updater.py
  utils/shared.py
Due: none

plugin - relocate tristrip utils resolve the only core → plugin import violation
  generated/formats/ms2/structs/MeshData.py
  source/formats/ms2/structs/MeshData.py
  utils/tristrip/__init__.py
  utils/tristrip/trianglemesh.py
  utils/tristrip/trianglestripifier.py
Due: codegen

utils - make utils core-only, relocate gui-only utils to gui
  gui/__init__.py
  gui/auto_updater.py
  gui/migrations.py
  gui/migrator.py
  gui/tools/dev_tools.py
  manis_tool_gui.py
  ovl_tool_gui.py
  pack_tool.py
  tests/test_auto_update/test_auto_update.py
  tests/test_gui/test_gui_update.py
  utils/__init__.py
Due: check-imports

utils - harden cross-platform handling
  utils/shared.py
Due: none

test - CI basic linux support
  .github/workflows/pytest.yaml
  tests/test_platform/__init__.py
  tests/test_platform/test_binary.py
  tests/test_platform/test_flags.py
  tests/test_platform/test_paths.py
Due: none

gui - cross-platform handling of steam/xbox/epic paths
  gui/app_utils.py
  tests/test_platform/test_steam.py
Due: none

utils - cross-platform safe execution of binaries
  gui/auto_updater.py
  modules/formats/utils/dds_conversion.py
  modules/formats/utils/lua_conversion.py
  modules/formats/utils/wem_conversion.py
  tests/test_platform/test_binary.py
  utils/shared.py
Due: none

utils - harden handling of wine path on linux
  modules/formats/utils/lua_conversion.py
  tests/test_platform/test_binary.py
  utils/shared.py
Due: none

#431 - a bit of decoding
  __init__.py
  __version__.py
  generated/formats/base/structs/ZStringBuffer.py
  generated/formats/landscape/__init__.py
  generated/formats/landscape/imports.py
  generated/formats/landscape/structs/Buffer0.py
  generated/formats/landscape/structs/Buffer0.pyi
  generated/formats/landscape/structs/BufferPresence.py
  generated/formats/landscape/structs/BufferPresence.pyi
  generated/formats/landscape/structs/LandscapeRoot.py
  generated/formats/landscape/structs/LandscapeRoot.pyi
  generated/formats/landscape/structs/__init__.py
  generated/formats/landscape/versions.py
  modules/formats/LANDSCAPE.py
  pyproject.toml
  source/formats/base/structs/ZStringBuffer.py
  source/formats/landscape/landscape.xml
Due: codegen

#431 - more decoding
  __init__.py
  __version__.py
  generated/formats/landscape/imports.py
  generated/formats/landscape/structs/Buffer0.py
  generated/formats/landscape/structs/Buffer0.pyi
  generated/formats/landscape/structs/Buffer1.py
  generated/formats/landscape/structs/Buffer1.pyi
  generated/formats/landscape/structs/LandscapeRoot.py
  generated/formats/landscape/structs/LandscapeRoot.pyi
  generated/formats/landscape/structs/Pass.py
  generated/formats/landscape/structs/Pass.pyi
  generated/formats/landscape/structs/Struct0.py
  generated/formats/landscape/structs/Struct0.pyi
  generated/formats/landscape/structs/Struct2.py
  generated/formats/landscape/structs/Struct2.pyi
  pyproject.toml
  source/formats/landscape/landscape.xml
Due: codegen

#399 - add resizing to manis_tool.py, deleted old cmd script
  __init__.py
  __version__.py
  docs/Guides/Plugin/Animations.md
  gui/widgets/window.py
  manis_tool.py
  pyproject.toml
  resize_manis_cmd.py
  source/formats/manis/__init__.py
Due: codegen

update frenderlodspec.xml
  __init__.py
  __version__.py
  generated/formats/frenderlodspec/structs/FRenderLodSpecRoot.py
  generated/formats/frenderlodspec/structs/FRenderLodSpecRoot.pyi
  pyproject.toml
  source/formats/frenderlodspec/frenderlodspec.xml
Due: codegen

a bit of typing for manis
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  pyproject.toml
Due: none

update landscape.xml
  __version__.py
  source/formats/landscape/landscape.xml
Due: codegen

#399 - remove bones
  __version__.py
  generated/formats/manis/__init__.py
  manis_tool.py
  plugin/export_manis.py
  source/formats/manis/__init__.py
Due: codegen

#431 - more decoding
  __init__.py
  __version__.py
  generated/formats/landscape/basic.py
  generated/formats/landscape/imports.py
  generated/formats/landscape/structs/Buffer0.py
  generated/formats/landscape/structs/Buffer0.pyi
  generated/formats/landscape/structs/Lod.py
  generated/formats/landscape/structs/Lod.pyi
  generated/formats/landscape/structs/Pass.py
  generated/formats/landscape/structs/Repeat2.py
  generated/formats/landscape/structs/Repeat2.pyi
  generated/formats/landscape/structs/Str48.py
  generated/formats/landscape/structs/Str48.pyi
  pyproject.toml
  source/formats/landscape/basic.py
  source/formats/landscape/landscape.xml
Due: codegen

#431 - more decoding
  __version__.py
  generated/formats/landscape/imports.py
  generated/formats/landscape/structs/Buffer0.py
  generated/formats/landscape/structs/Buffer0.pyi
  generated/formats/landscape/structs/Pair.py
  generated/formats/landscape/structs/Pair.pyi
  generated/formats/landscape/structs/RepeatLong.py
  generated/formats/landscape/structs/RepeatLong.pyi
  generated/formats/landscape/structs/Something.py
  generated/formats/landscape/structs/Something.pyi
  source/formats/landscape/landscape.xml
Due: codegen

#431 - more decoding
  __init__.py
  __version__.py
  pyproject.toml
  source/formats/landscape/landscape.xml
  source/formats/ms2/ms2.xml
Due: codegen

#431 - more decoding
  __version__.py
  generated/formats/landscape/imports.py
  generated/formats/landscape/structs/Buffer1.py
  generated/formats/landscape/structs/Buffer1.pyi
  generated/formats/landscape/structs/Struct2.py
  generated/formats/landscape/structs/Struct2.pyi
  modules/formats/LANDSCAPE.py
  source/formats/landscape/landscape.xml
Due: codegen

Fix trackelement spec for PC2
  source/formats/trackelement/trackelement.xml
Due: codegen

Add Mime version loading for trackelement
  modules/formats/TRACKELEMENT.py
Due: none

Add version-gating to PC2 specific fields
  source/formats/trackelement/trackelement.xml
Due: codegen

Changed tracktype_bitfield to bitfield
  source/formats/trackelement/trackelement.xml
Due: codegen

Removed stale comments
  source/formats/trackelement/trackelement.xml
Due: codegen
