Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

fix: fstring issue with nested quotation marks
  __init__.py
  __version__.py
  modules/formats/LUA.py
  pyproject.toml
Due: none

Dev - Fix pre-commit unstaged error
  bin/increment_version.py
Due: none

Dev - VS Code settings update
  .vscode/launch.json
  .vscode/settings.json
Due: none

GUI - Fix icon for directories with periods
  __init__.py
  __version__.py
  gui/widgets.py
  pyproject.toml
Due: check-imports

feat: move extract unflatten to new config var
  __version__.py
  modules/formats/LUA.py
  ovl_util/config.py
Due: none

fix: defaults on config get is wrong
  __init__.py
  __version__.py
  modules/formats/LUA.py
  pyproject.toml
Due: none

fix: remove unflatten config and move into property
  __init__.py
  __version__.py
  modules/formats/LUA.py
  ovl_util/config.py
  pyproject.toml
Due: none

fix: use property for lua_flatten
  __version__.py
  modules/formats/LUA.py
Due: none

manis - remove unneeded code
  __init__.py
  __version__.py
  plugin/export_manis.py
  pyproject.toml
Due: none

ms2 - turn off prints
  __init__.py
  __version__.py
  modules/formats/MS2.py
  pyproject.toml
Due: none

gui - full path on tooltips
  __version__.py
  gui/widgets.py
Due: check-imports

banis - update specs
  __version__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/BaniRoot.py
  generated/formats/bani/compounds/BanisInfoHeader.py
  generated/formats/bani/compounds/BanisRoot.py
  generated/formats/bani/compounds/Bone.py
  generated/formats/bani/compounds/Keys.py
  generated/formats/bani/imports.py
  modules/formats/BANI.py
  source/formats/bani/bani.xml
Due: codegen

banis - update specs
  __version__.py
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
Due: codegen

frenderlodspec - move (history preserve)
  __version__.py
  generated/formats/frenderlodspec/structs/FRenderLodSpecRoot.py
  generated/formats/frenderlodspec/structs/LODGroup.py
  generated/formats/frenderlodspec/structs/__init__.py
  modules/formats/FRENDERLODSPEC.py
Due: none

frenderlodspec - update specs
  __init__.py
  __version__.py
  generated/formats/frenderlodspec/frenderlodspec.xml
  generated/formats/frenderlodspec/imports.py
  generated/formats/frenderlodspec/structs/FRenderLodSpecRoot.py
  generated/formats/frenderlodspec/structs/LODGroup.py
  generated/formats/frenderlodspec/structs/LODPoints.py
  pyproject.toml
  source/formats/frenderlodspec/frenderlodspec.xml
Due: codegen

Update .gitignore
  .gitignore
Due: none

banis - skip loading most banis
  __version__.py
  modules/formats/BANI.py
Due: none

banis - vectorize banis
  __init__.py
  __version__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/Bone.py
  generated/formats/bani/compounds/Vector3Short.py
  generated/formats/bani/compounds/Vector3Ushort.py
  modules/formats/BANI.py
  pyproject.toml
  source/formats/bani/bani.xml
Due: codegen

auto_updater - Fix Python check
  __version__.py
  ovl_util/auto_updater.py
Due: none

pytest - Set qt_api
  __init__.py
  __version__.py
  pyproject.toml
Due: none

GUI - New menu builder, GuiOptions
  __init__.py
  __version__.py
  bnk_gui.py
  fgm_editor_gui.py
  gui/__init__.py
  gui/widgets.py
  loc_tool_gui.py
  manis_tool_gui.py
  matcol_editor_gui.py
  mod_tool_gui.py
  ms2_tool_gui.py
  ovl_tool_gui.py
  pack_tool_gui.py
  pyproject.toml
Due: check-imports

GUI - Fix CheckableComboBox elision
  __version__.py
  gui/widgets.py
Due: check-imports

GUI - Fix StatusSpacer runaway effect on MainWindow width
  __version__.py
  gui/widgets.py
Due: check-imports

FGM - Fix loading of unknown shader types
  __init__.py
  __version__.py
  fgm_editor_gui.py
  pyproject.toml
Due: check-imports

GUI - Fix duplicate recent files from search
  __init__.py
  __version__.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

GUI - Font registration
  __init__.py
  __version__.py
  gui/__init__.py
  gui/fonts/Hack-Bold.ttf
  gui/fonts/Hack-BoldItalic.ttf
  gui/fonts/Hack-Italic.ttf
  gui/fonts/Hack-Regular.ttf
  pyproject.toml
Due: none

GUI - Layout debugging tool
  __version__.py
  gui/__init__.py
  gui/tools/layout_visualizer.py
Due: none

GUI - Utils refactor
  __version__.py
  gui/app_utils.py
  gui/widgets.py
Due: check-imports

GUI - Fix initial spacer show size for d33557d
  __version__.py
  gui/widgets.py
Due: check-imports

GUI - Add default value for 1e359a8
  __version__.py
  gui/widgets.py
Due: check-imports

GUI - Logger refactor
  __version__.py
  fgm_editor_gui.py
  generated/formats/ovl/__init__.py
  gui/qt_theme.py
  gui/widgets.py
  icons/info_large.svg
  icons/mouse_lmb.svg
  loc_tool_gui.py
  ovl_tool_gui.py
  ovl_util/config.py
  pack_tool_gui.py
  source/formats/ovl/__init__.py
  tests/test_gui/test_gui_exec.py
Due: codegen, check-imports

GUI - Fix manually added non-game folders
  __version__.py
  gui/app_utils.py
  gui/widgets.py
Due: check-imports

Clean up get_exe_from_ovldata
  __init__.py
  __version__.py
  gui/app_utils.py
  pyproject.toml
Due: none

walker - demote error to warning
  __init__.py
  __version__.py
  modules/walker.py
  pyproject.toml
Due: none

compare ovls with game preset
  __init__.py
  __version__.py
  ovl_tool_gui.py
  pyproject.toml
Due: check-imports

ovl - make compare more robust
  __version__.py
  modules/formats/BaseFormat.py
Due: none

ms2 - fix versioning for modelstream for PC2
  __version__.py
  generated/formats/ms2/compounds/ModelstreamHeader.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  modules/formats/MS2.py
  source/formats/ms2/ms2.xml
Due: codegen

update mergedetails.xml for PC2
  __version__.py
  generated/formats/mergedetails/compounds/MergedetailsRoot.py
  generated/formats/mergedetails/mergedetails.xml
  source/formats/mergedetails/mergedetails.xml
Due: codegen

update achievements.xml for PC2
  __version__.py
  generated/formats/achievements/achievements.xml
  generated/formats/achievements/compounds/AchievementsRoot.py
  generated/formats/achievements/compounds/ConditionCheck.py
  generated/formats/achievements/compounds/ConditionPc2.py
  generated/formats/achievements/imports.py
  modules/formats/ACHIEVEMENTS.py
  source/formats/achievements/achievements.xml
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
