Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        # this script import file from the root folder
        entry: bash -c 'PYTHONPATH=. ./bin/increment_version.py'
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
        exclude: ^mkdocs.yml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

[BANI] Read channel bones + lod with codegen structs
  __init__.py
  __version__.py
  generated/formats/bani/__init__.py
  generated/formats/bani/structs/BanisRoot.py
  pyproject.toml
  source/formats/bani/__init__.py
  source/formats/bani/bani.xml
Due: codegen

[BANI] Rename
  __version__.py
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
Due: codegen

Port the motiongraph schema and structs from the experimental copy
  generated/formats/motiongraph/imports.py
  generated/formats/motiongraph/structs/Activity.py
  generated/formats/motiongraph/structs/AllocationArrayPointer.py
  generated/formats/motiongraph/structs/CrossFadeData.py
  generated/formats/motiongraph/structs/CurveDataPoint.py
  generated/formats/motiongraph/structs/FootPlantActivitySmoothTransitionData.py
  generated/formats/motiongraph/structs/ForwardActivitySmoothTransitionData.py
  generated/formats/motiongraph/structs/InertializationData.py
  generated/formats/motiongraph/structs/MotiongraphRangeParam.py
  generated/formats/motiongraph/structs/MotiongraphRangeParams.py
  generated/formats/motiongraph/structs/MotiongraphResultParam.py
  generated/formats/motiongraph/structs/RandomSequenceActivityData.py
  generated/formats/motiongraph/structs/RandomSequenceActivityInfo.py
  generated/formats/motiongraph/structs/SetBoolVariableActivityData.py
  generated/formats/motiongraph/structs/Something.py
  generated/formats/motiongraph/structs/ToggledActivityActivityData.py
  generated/formats/motiongraph/structs/TransStruct.py
  generated/formats/motiongraph/structs/TransitionConditionRecord.py
  generated/formats/motiongraph/structs/VariableBlendedActivityActivityData.py
  generated/formats/motiongraph/structs/VariableBlendedActivityInfo.py
  source/formats/motiongraph/motiongraph.xml
  source/formats/motiongraph/structs/Activity.py
  source/formats/motiongraph/structs/AllocationArrayPointer.py
  source/formats/motiongraph/structs/Locomotion2BlendSpaceNode.py
  source/formats/motiongraph/structs/Something.py
  source/formats/motiongraph/structs/TransitionConditionRecord.py
Due: codegen

Add a vanilla corpus check to catch format-model drift
  vanilla_corpus.json
  vanilla_corpus_check.py
Due: none

[BANI] Fix accidental deletion
  __init__.py
  __version__.py
  generated/formats/bani/structs/BanisRoot.py
  generated/formats/bani/structs/BanisRoot.pyi
  pyproject.toml
  source/formats/bani/bani.xml
Due: codegen

[BANI] Add more updates for v7 saving
  __version__.py
  generated/formats/bani/__init__.py
  plugin/export_banis.py
  source/formats/bani/__init__.py
Due: codegen

Anchor the JWE3 ManiBlock scan to ACL's tag; do not import ACL scale
  generated/formats/manis/structs/KeysReader.py
  plugin/import_manis.py
  source/formats/manis/structs/KeysReader.py
  vanilla_corpus.json
Due: codegen

[BANI] Fix Blob
  __version__.py
  generated/formats/base/structs/Blob.py
  source/formats/base/structs/Blob.py
Due: codegen

[BANI] Truncate Blob print
  __init__.py
  __version__.py
  generated/formats/base/structs/Blob.py
  pyproject.toml
  source/formats/base/structs/Blob.py
Due: codegen

[BANI] Preliminary offsets for v7 saving
  __version__.py
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
Due: codegen

[BANI] Improve offsets for v7 saving
  __version__.py
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
Due: codegen

[BANI] Plan overhaul for v7 saving
  __version__.py
  generated/formats/bani/__init__.py
  plugin/export_banis.py
  source/formats/bani/__init__.py
Due: codegen

[BANI] Prototype of v7 export
  __init__.py
  __version__.py
  generated/formats/bani/__init__.py
  generated/formats/bani/structs/BaniRoot.py
  generated/formats/bani/structs/BaniRoot.pyi
  generated/formats/bani/structs/BanisRoot.py
  generated/formats/bani/structs/BanisRoot.pyi
  generated/formats/ovl_base/structs/ForEachPointer.py
  plugin/export_banis.py
  pyproject.toml
  source/formats/bani/__init__.py
  source/formats/bani/bani.xml
  source/formats/ovl_base/structs/ForEachPointer.py
Due: codegen

[BANI] Fix v7 export
  __init__.py
  __version__.py
  modules/formats/BANI.py
  pyproject.toml
Due: none

[BANI] Clean up loader
  __version__.py
  modules/formats/BANI.py
Due: none

[TEX] Update PC1 DDS enum - closes #442
  __init__.py
  __version__.py
  generated/formats/tex/enums/DdsTypeCoaster.py
  generated/formats/tex/enums/DdsTypeCoaster.pyi
  modules/walker.py
  pyproject.toml
  source/formats/tex/tex.xml
Due: codegen

Fix trackelement for update 11 for Planet Coaster 2
  source/formats/trackelement/trackelement.xml
Due: codegen

Run codegen
  generated/formats/trackelement/structs/TrackElementData.py
  generated/formats/trackelement/structs/TrackElementData.pyi
Due: none

[OVL] Update hash table
  __init__.py
  __version__.py
  constants/Jurassic World Evolution 3/hashes.py
  constants/Jurassic World Evolution 3/mimes.py
  constants/Planet Coaster 2/hashes.py
  pyproject.toml
Due: none

[Docs] Update reverse engineering guide to new stack log format
  docs/Development/Reverse-Engineering/OVL-File-Formats.md
Due: none

[GUI] Hide reload button from DirWidget
  __init__.py
  __version__.py
  gui/widgets/file_input.py
  pyproject.toml
Due: none

[GUI] Optionally keep DDS files and only rebuild them if source PNGs have changed
  __init__.py
  __version__.py
  modules/formats/DDS.py
  modules/formats/utils/png_splitting.py
  pyproject.toml
Due: none

[GUI] Fix docstr
  __version__.py
  modules/formats/DDS.py
Due: none

[GUI] Move renaming out of main gui into modal window
  __version__.py
  ovl_tool_gui.py
Due: check-imports
