Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

fix tests for PC2 versioning
  tests/test_ovl/test_ovl_save_create.py
Due: none

fgm - fix walker and run for JWE2
  __version__.py
  constants/Jurassic World Evolution 2/shaders.py
  modules/walker.py
Due: none

walker - supply ovl game hint from gui
  __version__.py
  modules/walker.py
Due: none

add PC2 fgm constants
  __version__.py
  constants/Planet Coaster 2/shaders.py
  constants/Planet Coaster 2/texchannels.py
Due: none

improve PC2 texchannels
  __version__.py
  constants/Planet Coaster 2/texchannels.py
  experimentals/prep_textures_dict.py
Due: none

ms2 - remove np precision warnings
  __version__.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/MeshData.py
  generated/formats/ms2/compounds/packing_utils.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/MeshData.py
  source/formats/ms2/compounds/packing_utils.py
Due: codegen

ms2 - improve spec
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/TriChunk.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
Due: codegen

ms2 - improve tris reading
  __version__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/TriChunk.py
  generated/formats/ms2/ms2.xml
  plugin/import_ms2.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
Due: codegen

ms2 - ununcomment stuff
  __init__.py
  __version__.py
  plugin/import_ms2.py
  pyproject.toml
Due: none

ms2 - fix weights for PC2
  __version__.py
  generated/formats/ms2/bitfields/WeightsFlagPC2.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/VertChunk.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
Due: codegen

txt - fix PC2
  __version__.py
  modules/formats/TXT.py
Due: none

manis - some decoding + versioning for pc2
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/manis/bitfields/ManisDtype.py
  generated/formats/manis/bitfields/ManisDtypePC2.py
  generated/formats/manis/compounds/InfoHeader.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/compounds/ManiInfo.py
  generated/formats/manis/compounds/Pc2Data.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  generated/formats/manis/versions.py
  manis_tool_gui.py
  modules/formats/MANI.py
  source/formats/manis/__init__.py
  source/formats/manis/manis.xml
Due: codegen, check-imports

manis - some decoding + versioning for pc2
  __init__.py
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/manis/bitfields/ManisDtypePC2.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/compounds/Pc2Data.py
  generated/formats/manis/manis.xml
  pyproject.toml
  source/formats/manis/__init__.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/manis.xml
Due: codegen

manis - improve walker with correct context
  __init__.py
  __version__.py
  generated/formats/manis/bitfields/ManisDtypePC2.py
  generated/formats/manis/manis.xml
  modules/formats/MANI.py
  modules/walker.py
  pyproject.toml
  source/formats/manis/manis.xml
Due: codegen

manis - improve CompressedManiDataPC2
  __version__.py
  generated/formats/manis/compounds/CompressedManiDataPC2.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  manis_tool_gui.py
  source/formats/manis/manis.xml
Due: codegen, check-imports

aux - recode aux handling to somewhat support PC2's new naming convention
  __version__.py
  generated/formats/ovl/__init__.py
  modules/formats/BNK.py
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  source/formats/ovl/__init__.py
Due: codegen

Updated trackmesh
  generated/formats/trackmesh/compounds/TrackMeshElement.py
  generated/formats/trackmesh/trackmesh.xml
  source/formats/trackmesh/trackmesh.xml
Due: codegen

fgm - fix create
  __init__.py
  __version__.py
  modules/formats/FGM.py
  pyproject.toml
Due: none

support pc2 trackmesh and some notes on mime data
  generated/formats/trackmesh/compounds/Lod.py
  generated/formats/trackmesh/compounds/OffsetData.py
  generated/formats/trackmesh/compounds/TrackMeshElement.py
  generated/formats/trackmesh/compounds/TrackMeshObject.py
  generated/formats/trackmesh/trackmesh.xml
  source/formats/trackmesh/trackmesh.xml
Due: codegen

Update/fix trackmesh files
  generated/formats/trackmesh/compounds/TrackMeshObject.py
  generated/formats/trackmesh/compounds/TrackMeshOffset.py
  generated/formats/trackmesh/compounds/TrackMeshRoot.py
  generated/formats/trackmesh/imports.py
  generated/formats/trackmesh/trackmesh.xml
  source/formats/trackmesh/trackmesh.xml
Due: codegen

Updated trackelement to the correct size
  generated/formats/trackelement/compounds/TrackElementData.py
  generated/formats/trackelement/compounds/TrackElementRoot.py
  generated/formats/trackelement/trackelement.xml
  source/formats/trackelement/trackelement.xml
Due: codegen

renamed prefab attributes
  generated/formats/trackelement/compounds/TrackElementRoot.py
  generated/formats/trackelement/trackelement.xml
  source/formats/trackelement/trackelement.xml
Due: codegen

manis resize - write log file
  __init__.py
  __version__.py
  generated/formats/manis/compounds/KeysReader.py
  pyproject.toml
  resize_manis_cmd.py
  source/formats/manis/compounds/KeysReader.py
Due: codegen

ms2 walker - cleanup
  __init__.py
  __version__.py
  modules/formats/BaseFormat.py
  modules/walker.py
  pyproject.toml
Due: none

ms2 walker - cleanup
  __version__.py
  modules/walker.py
Due: none

plugin - add ms2 collision enum for pc2
  __version__.py
  plugin/utils/properties.py
Due: none

fgm - refactor context, fix fgm editor
  __version__.py
  fgm_editor_gui.py
  generated/formats/ovl/__init__.py
  modules/formats/FGM.py
  modules/formats/MANI.py
  modules/walker.py
  plugin/modules_import/material.py
  source/formats/ovl/__init__.py
Due: codegen, check-imports

texel - calc aux hash for PC2
  __init__.py
  __version__.py
  modules/formats/DDS.py
  modules/formats/shared.py
  pyproject.toml
Due: none

cleanup shared.py
  __init__.py
  __version__.py
  modules/formats/shared.py
  pyproject.toml
Due: none

cleanup shared.py
  __version__.py
  modules/formats/shared.py
Due: none

fix encode_int64_base32
  __version__.py
  modules/formats/shared.py
Due: none

tex - unpack mips for pc2
  __version__.py
  modules/formats/DDS.py
Due: none

allows exporting .png.tex without warning
  constants/Planet Coaster 2/texchannels.py
Due: none

tex - unpack mips for pc2
  __version__.py
  generated/formats/tex/compounds/Pc2TexBuffer.py
  generated/formats/tex/compounds/Pc2TexMip.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  source/formats/tex/tex.xml
Due: codegen

Update biome and compoundbrush
  generated/formats/biome/__init__.py
  generated/formats/biome/biome.xml
  generated/formats/biome/imports.py
  generated/formats/biome/structs/BiomeArtIcon.py
  generated/formats/biome/structs/BiomeArtSettingsRoot.py
  generated/formats/biome/structs/BiomeAudioSettingsRoot.py
  generated/formats/biome/structs/BiomeDesignSettingsRoot.py
  generated/formats/biome/structs/BiomeRoot.py
  generated/formats/biome/structs/__init__.py
  generated/formats/biome/versions.py
  generated/formats/compoundbrush/__init__.py
  generated/formats/compoundbrush/compoundbrush.xml
  generated/formats/compoundbrush/imports.py
  generated/formats/compoundbrush/structs/BrushIndex.py
  generated/formats/compoundbrush/structs/BrushStruct.py
  generated/formats/compoundbrush/structs/CompoundBrushRoot.py
  generated/formats/compoundbrush/structs/SomeStruct3.py
  generated/formats/compoundbrush/structs/SomeStruct3Sub1.py
  generated/formats/compoundbrush/structs/SomeStruct4.py
  generated/formats/compoundbrush/structs/SomeStruct4Sub1.py
  generated/formats/compoundbrush/structs/SomeStruct4Sub2.py
  generated/formats/compoundbrush/structs/SomeStruct8.py
  generated/formats/compoundbrush/structs/__init__.py
  generated/formats/compoundbrush/versions.py
  modules/formats/BIOME.py
  modules/formats/COMPOUNDBRUSH.py
  source/formats/biome/biome.xml
  source/formats/compoundbrush/compoundbrush.xml
Due: codegen

Update world related mimes
  generated/formats/world/compounds/WorldArtSettingsHeader.py
  generated/formats/world/compounds/WorldHeader.py
  generated/formats/world/compounds/WorldSharedSettingsHeader.py
  generated/formats/world/imports.py
  generated/formats/world/world.xml
  modules/formats/WORLD.py
  source/formats/world/world.xml
Due: codegen

Updated trackstation to include PC2
  generated/formats/trackstation/compounds/ControlBoxInfo.py
  generated/formats/trackstation/compounds/CornerEdgeTrack.py
  generated/formats/trackstation/compounds/GateInfo.py
  generated/formats/trackstation/compounds/TrackStationRoot.py
  generated/formats/trackstation/imports.py
  generated/formats/trackstation/trackstation.xml
  source/formats/trackstation/trackstation.xml
Due: codegen

Updated VTMAP and VTMLS
  generated/formats/voxelskirt/compounds/VoxelTerrainMaterialAssetPackagesRoot.py
  generated/formats/voxelskirt/compounds/VoxelTerrainMaterialLayerSpecRoot.py
  generated/formats/voxelskirt/imports.py
  generated/formats/voxelskirt/voxelskirt.xml
  modules/formats/VOXELSKIRT.py
  source/formats/voxelskirt/voxelskirt.xml
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
